.generic_dashboard {

    margin-top: 100px;
    background-color: rgba(241, 241, 241, 1);
    padding-bottom: calc(20px + 15px);

    .dropdown-menu.show {
        top: 41px !important;
        transform: none !important;
        width: 450px;
    }

    .stat_display_panel {
        background-color: white;
        display: flex;
        flex-direction: row;


        .first_panel {
            position: relative;
            padding: 12px 24px 20px 15px;

            .title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #2F3442;
                margin-top: 16px;
            }

            .heading {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #2F3442;
                padding: 16px 0 0 0;
            }

            .catagory-name {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                padding: 0;
                margin: 0;
                color: rgba(47, 52, 66, 1);

                span {
                    font-size: 14px;
                }
            }

            .row {
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: calc(50vw - 39px);

                &.closer {
                    justify-content: center;
                    gap: 39px;
                }

                .stat {
                    padding-left: calc(23px - 15px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &.aveMaleTot>p {
                        width: 93px;
                        text-align: center;
                    }

                    &.aveFemaleTot>p {
                        width: 93px;
                        text-align: center;
                    }

                    &.small>p {
                        width: 70px;
                        text-align: center;
                    }

                    &.extra_small>p {
                        width: 52px;
                        text-align: center;
                    }

                    &.medium>p {
                        width: 85px;
                        text-align: center;
                    }

                    &.large>p {
                        width: 95px;
                        text-align: center;
                    }

                    &.publicHealthCareTot>p {
                        width: 108px;
                        text-align: center;
                    }

                    &.medicalAidTot>p {
                        width: 69px;
                        text-align: center;
                    }

                    &.noSchoolingTot>p {
                        width: 83px;
                        text-align: center;
                    }

                    &.primarySchoolingTot>p {
                        width: 95px;
                        text-align: center;
                    }

                    &.secondarySchoolingTot>p {
                        width: 115px;
                        text-align: center;
                    }

                    &.tertiaryEducationTot>p {
                        width: 77px;
                        text-align: center;
                    }

                    &.adequiteTot>p {
                        width: 91px;
                        text-align: center;
                    }

                    &.inadequiteTot>p {
                        width: 91px;
                        text-align: center;
                    }

                    &.severelyInadequiteTot>p {
                        width: 126px;
                        text-align: center;
                    }

                    >p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #2F3442;
                    }

                    >h1 {

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 30px;

                        color: #2F3442;
                        padding: 10px 0 3px 0;
                    }

                }
            }

            &:after {
                content: " ";
                position: absolute;
                right: 0;
                bottom: 11.5%;
                height: 77%;
                outline: 1px solid #B2BEC3;
            }


        }

        .second_panel {

            padding: 12px 24px 20px 15px;
            width: 100%;

            .title_header {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #2F3442;
                margin-top: 16px;
            }

            .heading {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #2F3442;
                padding: 16px 0 0 0;
            }

            .top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .catagory-name {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                    padding: 0;
                    margin: 0;
                    color: rgba(47, 52, 66, 1);

                    span {
                        font-size: 14px;
                    }
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &.closer {
                    justify-content: center;
                    gap: 39px;
                }

                .stat {
                    padding-left: calc(23px - 15px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &.aveMale>p {
                        width: 93px;
                        text-align: center;
                    }

                    &.aveFemale>p {
                        width: 93px;
                        text-align: center;
                    }

                    &.small>p {
                        width: 70px;
                        text-align: center;
                    }

                    &.extra_small>p {
                        width: 52px;
                        text-align: center;
                    }

                    &.medium>p {
                        width: 85px;
                        text-align: center;
                    }

                    &.large>p {
                        width: 95px;
                        text-align: center;
                    }

                    &.publicHealthCare>p {
                        width: 108px;
                        text-align: center;
                    }

                    &.medicalAid>p {
                        width: 69px;
                        text-align: center;
                    }

                    &.noSchooling>p {
                        width: 83px;
                        text-align: center;
                    }

                    &.primarySchooling>p {
                        width: 95px;
                        text-align: center;
                    }

                    &.secondarySchooling>p {
                        width: 115px;
                        text-align: center;
                    }

                    &.tertiaryEducation>p {
                        width: 77px;
                        text-align: center;
                    }

                    &.tertiaryEducationTot>p {
                        width: 77px;
                        text-align: center;
                    }

                    &.adequite>p {
                        width: 91px;
                        text-align: center;
                    }

                    &.inadequite>p {
                        width: 91px;
                        text-align: center;
                    }

                    &.severelyInadequite>p {
                        width: 126px;
                        text-align: center;
                    }

                    >p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #2F3442;
                    }

                    >h1 {

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 30px;

                        color: #2F3442;
                        padding: 10px 0 3px 0;
                    }
                }
            }
        }
    }

    .secondaryChartSpacer {
        height: 13px;
        background-color: rgba(241, 241, 241, 1);
    }

    .chart_grid {
        background-color: rgba(241, 241, 241, 1);



        .rounded_container {
            border-radius: 5px 5px 5px 5px;
            background-color: white;
            margin: 15px 15px 0 15px;

            .select_wrapper {
                border-bottom: 2px solid #F1F1F1;
                padding: 7px 0;

            }

            .double {
                display: flex;
                flex-direction: row;

                position: relative;

                .conditional_select_wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;


                    .select_title {
                        margin-left: 45px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #2F3442;
                        opacity: 0.8;
                    }
                }

            }

            .grid-container {

                display: grid;
                grid-column-gap: 32px;
                grid-row-gap: 21px;
                grid-template-columns: calc((100vw/3) - (154px/3)) calc((100vw/3) - (154px/3)) calc((100vw/3) - (154px/3));
                background-color: white;
                padding: 15px 30px 15px 30px;
                position: relative;
                border-radius: 0 0 5px 5px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    background: #F1F1F1;
                    height: calc(100% - 30px);
                    left: calc((2*(100vw/3) - 2*(154px/3)) + 32px + 30px + 15px);
                    top: 15px;
                }

                .heading_wrapper {

                    .heading {
                        line-height: 1.2;
                        height: unset;
                    }

                }

                .source_title {
                    display: flex;
                    align-items: baseline;
                    margin: 0;
                    padding: 3px 0 3px 0;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 400;
                    line-height: 1;
                    font-size: 10px;
                    color: #8C8F97;

                    .source_pre {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 10px;
                        text-transform: uppercase;
                        color: #8C8F97;
                        float: left;
                    }
                }
            }

            .grid-only-charts-2 {
                display: grid;
                grid-column-gap: 36px;
                grid-row-gap: 10px;
                grid-template-columns: calc(50vw - 15px - 64px) calc(50vw - 15px - 64px);
                background-color: white;
                padding: 12px 32px;
                position: relative;
                border-radius: 0 0 5px 5px;

                .heading_wrapper {
                    align-items: center;

                    .heading {
                        height: unset;
                        width: 418px;
                        line-height: 1.2;

                    }

                }

                .source_title {
                    display: flex;
                    align-items: baseline;
                    margin: 0;
                    padding: 3px 0 3px 0;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 400;
                    line-height: 1;
                    font-size: 10px;
                    color: #8C8F97;

                    .source_pre {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 10px;
                        text-transform: uppercase;
                        color: #8C8F97;
                        float: left;
                    }
                }
            }

            .grid-container-1 {
                // 30 outside + 50 inside + 32px : spacing excluding chart blocks
                display: grid;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                grid-template-columns: calc(100vw - 30px - 85px);
                background-color: white;
                padding: 25px;
                position: relative;
                border-radius: 0 0 5px 5px;

                .chart_wrapper {

                    .source_title {
                        display: flex;
                        align-items: baseline;
                        margin: 0;
                        padding: 3px 0 3px 0;
                        font-family: 'Montserrat';
                        font-style: italic;
                        font-weight: 400;
                        line-height: 1;
                        font-size: 10px;
                        color: #8C8F97;

                        .source_pre {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 8px;
                            line-height: 10px;
                            text-transform: uppercase;
                            color: #8C8F97;
                            float: left;
                        }
                    }

                    .heading_wrapper {
                        align-items: center;

                        .heading {
                            height: unset;
                            width: 100%;
                            line-height: 1.2;

                        }

                    }

                }
            }

            .grid-container-4 {
                // 30 outside + 50 inside + 32px : spacing excluding chart blocks
                display: grid;
                grid-column-gap: 32px;
                grid-row-gap: 10px;
                grid-template-columns: calc((100vw/2) - (112px/2)) calc((100vw/2) - (112px/2));
                background-color: white;
                padding: 25px;
                position: relative;
                border-radius: 0 0 5px 5px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    background: #F1F1F1;
                    height: calc(100% - 20px);
                    left: calc(50% + 8px);
                    top: 10px;
                }

                &.no_divider {
                    padding: 10px 30px 10px 30px;
                    grid-row-gap: 36px;
                    grid-column-gap: 50px;
                    grid-template-columns: calc(50% - 50px/2) calc(50% - 50px/2);

                    &:after {

                        width: 0;
                        background: transparent;
                    }
                }

                .chart_wrapper {

                    .source_title {
                        display: flex;
                        align-items: baseline;
                        margin: 0;
                        padding: 3px 0 3px 0;
                        font-family: 'Montserrat';
                        font-style: italic;
                        font-weight: 400;
                        line-height: 1;
                        font-size: 10px;
                        color: #8C8F97;

                        .source_pre {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 8px;
                            line-height: 10px;
                            text-transform: uppercase;
                            color: #8C8F97;
                            float: left;
                        }
                    }

                    .heading_wrapper {
                        align-items: center;

                        .heading_stack {
                            .heading {
                                height: unset;
                                width: 418px;

                            }

                            .top_main {
                                padding: 0;
                                margin: 0;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 15px;
                                color: #2F3442;
                            }

                            .sub_main {
                                padding: 0 0 4px 0;
                                margin: 0;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 15px;
                                color: #2F3442;
                            }
                        }


                    }

                }

                &.three_charts {

                    grid-row-gap: 36px;
                    grid-column-gap: 50px;
                    padding: 10px 30px 10px 30px;
                    grid-template-columns: calc(50% - 50px/2) calc(50% - 50px/2);

                    &:after {
                        content: "";
                        width: 0;
                        background: transparent;
                    }
                }
            }

            .horizontal {
                grid-row-gap: 34px;
                grid-template-columns: calc((100vw/2) - 65px) calc((100vw/2) - 65px);

                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    background: #F1F1F1;
                    width: calc(100% - 50px);
                    left: calc(25px);
                    top: 50%;
                }
            }

            .horizontal_food {
                grid-row-gap: 32px;

                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    background: #F1F1F1;
                    width: calc(100% - 40px);
                    left: calc(25px);
                    top: 50%;
                }
            }



            .grid-2-text {
                // 30 outside + 60 inside + 64px 
                display: grid;
                grid-column-gap: 60px;
                grid-row-gap: 10px;
                grid-template-columns: 62.5vw 40vw;
                background-color: white;
                padding: 12px 32px;
                position: relative;
                border-radius: 0 0 5px 5px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    background: #F1F1F1;
                    height: calc(100% - 24px);
                    left: calc(30px + 62.5vw + 32px);
                    top: 12px;
                }



                .chart_wrapper {



                    .dropdown_chart_source {
                        display: flex;
                        align-items: baseline;
                        margin: 0;
                        padding: 3px 0 3px 0;
                        font-family: 'Montserrat';
                        font-style: italic;
                        font-weight: 400;
                        line-height: 1;
                        font-size: 10px;
                        color: #8C8F97;

                        .source_pre {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 8px;
                            line-height: 10px;
                            text-transform: uppercase;
                            color: #8C8F97;
                            float: left;
                        }
                    }



                }
            }

        }
    }

    .spacer {
        height: 30px;
        background-color: rgba(241, 241, 241, 1);
    }
}

.secondary {
    margin: 0;
    padding: 15px 0 0 0;

    .chart_grid {

        .rounded_container {
            padding: 0;
            margin: 0px 15px 0 15px;

        }
    }
}

.first_chart {

    padding: 0px 0 0 0;

    .chart_grid {

        .rounded_container {
            padding: 0;
            margin: 15px 15px 0 15px;

        }
    }
}