.charts_dashboards--button{
    box-shadow: none!important;

    &:hover{
        box-shadow: none!important;
    }
}

.dropdown > .btn{
    box-shadow: none!important;
    &:hover{
        box-shadow: none!important;
    }
}