<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/header.html' %}
</head>

<body>
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="clearfix">
                        <h1 class="float-xs-left display-3 mr-2">404</h1>
                        <h4 class="pt-1">Oops! You're lost.</h4>
                        <p class="text-muted">The page you are looking for was not found.</p>
                        <p class="text-muted">You can {% if current_user.is_authenticated %}<a href="{{ url_for('city_dashboard') }}">return to your dashboard</a>{% else %}<a href="{{ url_for('home_public') }}">return to the homepage</a>{% endif %} or <a href="{{ url_for('contact') }}">contact us!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'snippets/footer.html' %}

    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/tether/js/tether.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/pace/pace.min.js"></script>

    <!-- Plugins and scripts required by all views -->
    <script src="../../static/vendor/plotly/plotly-latest.min.js"></script>
    <script src="../../static/js/app.js"></script>

    <!-- Plugins and scripts required by this views -->

    <!-- Custom scripts required by this view -->
    <script src="../../static/js/views/main.js"></script>

</body>

</html>