.chart_wrapper {
    position: relative;

    .heading_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 0 0;

      .heading_alternate{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #2F3442;
        .secondary_title{
            font-weight: 600;
            font-size: 12px;
        }
        }

        .heading {
            padding: 0;
            margin: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #2F3442;
            height: 32px;
            width: 261px;

            .combination_year {
                font-size: 12px;
            }
        }

        .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #2F3442;

            span {
                font-weight: 600;
                font-size: 12px;
            }
        }

        .button_group {
            display: flex;

            button {
                border: 1px solid #B0B4B9;
                height: 15px;
                text-align: center;
                padding: 0 9px;
            }


            .number {
                border-radius: 11px 0 0 11px;
                background-color: #646B75;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: #FFFFFF;
                outline: none;
                border: 1px solid #646B75;

                &.deselect {
                    color: #646B75;
                    background-color: white;
                    border: 1px solid #B0B4B9;
                }
            }

            .percent {
                border-radius: 0 11px 11px 0;
                background-color: white;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                color: #646B75;
                outline: none;
                margin-right: 20px;
                border: 1px solid #B0B4B9;

                &.select {
                    color: white;
                    background-color: #646B75;
                    border: 1px solid #646B75
                }
            }


        }

        .link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            color: #58C1AE;
            background: #FFFFFF;
            border: 1px solid #58C1AE;
            border-radius: 11px;
            padding: 0 5px 0 5px;
            width: 70px;

            &:hover {
                color: #58C1AE;
            }
        }

    }
 .category{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    color: #2F3442;
    margin: 0;
    padding: 0;
 }
    .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 280px;
        overflow-y:scroll;

        .headings {

            display: flex;
            flex-direction: row;
            gap: 2vw;

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #979797;
            }

            .code {
                width: 84px;
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            gap: 2vw;

            .name {
                width: 210px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #2F3442;
            }

            .code {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #2F3442;
                width: 84px;
            }
        }

        .view_codebook {
            margin: 0 0 0 calc(84px + 2vw);
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            text-decoration-line: underline!important;
            text-transform: uppercase;
            color: #2F3442;
        }
    }

    .error_message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFD1D1;
        border-radius: 12.5px;
        width: 173px;
        padding: 10px 10px 20px 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #4A4A4A;
            }

            .cancel {
                margin: 5px 5px 0 0;
                cursor: pointer;
                width: 12px;
                height: 12px;
            }
        }

        .body {

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            width: 153px;
            color: #4A4A4A;

        }
    }
}