// Colour branding
$scoda-red: #F05252;
$scoda-red-light: #F64343;
$scoda-white: #fff;
$scoda-grey-dark: #4A4A4A;
$scoda-black: #131421;
$scoda-inactive-tab: #B2BEC3;
$scoda-hr: #E5E4E5;
$scoda-content: #9B9B9B;
$scoda-info: #FF8A3A;
$scoda-black-light: #1E272E;
$scoda-orange: #FF9F5E;
$scoda-data-grey: #EEEEEE;
$scoda-ie-header:#485460;
$scoda-ie-info: #CACACA;
$scoda-action: #4CC78E;
$scoda-box-header: #808E9B;
$scoda-dm-header: #485460;

// Typography
$scoda-font: 'Montserrat';