.footer {
    // General styling
    background: #0C0C0C !important;
    font-size: 10px;
    text-align: center;
    min-height: unset;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    &--cookies {
      button {
        text-decoration: underline;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        background: none;
        border: none;
        &:hover, &:focus, &:active {
          font-style: normal;
          font-weight: normal;
          font-size: 14px !important;
          line-height: 17px;
          font-weight: 500 !important;
          background: none !important;
          border: none;
          outline: none;
          box-shadow: none !important;
        }
      }
    }
    &--cookie_link {
      position: relative;
      color: #FFFFFF !important;
      top: 4px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-decoration: underline !important;
    }
    span{
        font-size: 10px;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .container {
      max-width: 1094px;
      width: unset !important;
      .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        > * {
          width: 26%;
        }
      }
    }
    &--col {
      &_one {
        text-align: left;
        line-height: 13px;
        > a {
          display: inline-block;
          float: left;
          border-right: 1px solid white;
          margin-right: 10px;
          padding-right: 10px;
        }
        span {
          margin: auto;
          width: 280px;
          line-height: 16px;
          color: #FFFFFF;
          &.sacn {
            display: inline;
            color: #FF8430;
            font-weight: 500;
            a{
              text-decoration: none;
            }
          }
          &.ccl{
            color: #9B9B9B;
            a{
              text-decoration: none;
            }
          }
        }
        a {
          text-decoration: underline;
        }
        img {
          &.ckan {
          }
          width: 66px;
          height: auto;;
        }
      }
      &_two {
        width: 30% !important;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        p {
          margin: 0;
          display: inline;
          color: white !important;
          font-size: 10px;
          margin-right: 8px;
        }
        a {
          font-size: 14px;
          font-weight: 700;
          color: white !important;
        }
      }
      &_three {
        img {
          height: 25px;
          width: 25px;
          &.ckan {
            width: 66px;
            height: auto;;
          }
          &.icon {
            margin: 0 10px;
          }
        }
      }
    }
    // Desktop specific styling
    @media (min-width: $tablet) {
      &--cookies {
        button {
          margin-bottom: -10px;
          font-size: 12px;
        }
      }
    }
    
      // Mobile specific styling
      @media (max-width: $tablet) {
        width: 100%;
        padding: 20px;
        position: relative;
        min-height: 120px;
        top: 34px;
        #Popover1{
          left:0;
        }
        .row {
          padding-top: 0;
          flex-flow: column nowrap !important;
          .footer--col_one,
          .footer--col_two,
          .footer--col_three {
            margin: 5px 0;
          }
          .footer--col_one {
            order: 3;
            width: 100%;
            position: relative;
            text-align: left;
            margin-top: 10px;
            span {
              width: unset;
              a {
                display: inline;
                margin-top: 10px;
                color: #ccdee3;
                text-align: center;
              }
            }
          }
          .footer--col_two {
            width: 100% !important;
            span {
              p {
                display: none;
              }
            }
          }
          .footer--col_three {
            order: 2;
            position: relative;
            width: 100%;
           img {
             margin: 5px;
             &.ckan {
              width: 80px;
              margin-top: 5px;
              height: auto;
             }
           }
          }
        }
      }
    } 
.footer-popover {
  button {
    background: transparent;
    margin-top: 0;
    width: 136px;
    height: 28px;
  }
}