.leaflet-container{
    #legend{
        width: 151px;
        border-radius: 12.5px;
        background-color: rgba(207,221,232,0.6);
        padding: 10px;
        color: #4A4A4A;
        font-family: 'Montserrat';
        font-size: 15px;
        letter-spacing: 0;
        line-height: 21px;
        // i{
        //     height: 21px;
        //     width: 21px;
        // }
    }
}