.navigation {

  //   General styling
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  transition: .2s all ease-in-out;
  background-color: white;

  .container {
    max-width: 100%;
  }

  p, h2 {
    line-height: 18px;
    color: white;
  }
  p {
    font-size: 14px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .durban-business-support-finder {
    width: 134px;
    position: absolute;
    left: calc(50% - 75px);
    margin-top: 2px;
  }


  &.box-shadow {
    box-shadow: $box-shadow;
  }

  &.fill {
    background-color: white;
    height: $navigation-height-desktop;
  }

  &.nav {
    &_light {
      * {
        color: white;
      }
      .navbar-toggler-line {
        background-color: white;
      }
    }
    &_dark {
      .navbar-toggler-line {
        background-color: $font_general;
      }
    }
    // Expanded navbar - uses content from variables.scss
    &_mobile {
      &_expanded {
        box-shadow: $box-shadow;
        + * {
          margin-top: calc(182px - 70px);
        }
        .durban-business-support-finder {
          display: none;
        }
        .navbar {
          height: 182px;
          &-brand {
            margin: auto;
            text-align: center;
            &:after {
              content: $navbar-brand-content;
              display: block;
              text-transform: uppercase;
              font-size: 14px;
              line-height: 22px;
              margin-top: $s-s;
            }
            img {
              width: $brand-width-expanded;
            }
          }
        }

      }
    }
  }

 

  .navbar {
    height: $navigation-height-desktop;
    padding: $s-t;

    padding: 0;
  
      &-collapse {
        z-index: 4;
        padding: 0 $s-s;
        width: 230px;
        top: 0;
        right: -230px;
        max-width: 320px;
        left: unset;
        position: fixed;
        box-shadow: $box-shadow;
        background: $brand-dark;
        height: 100% !important;
        display: block !important;
        transition: .2s right ease-in-out;
        text-align: left;
        margin: 0;
        p {
          margin-bottom: $s-s;
        }
  
        &.show {
          right: 0;
  
          // Animate the hamburger opening and closing
          +.navbar-toggler {
            >span {
              background: transparent;
              border: 0.75px solid white;
              margin: 4px auto;
              height: 4px;
              &:nth-of-type(1) {
                transform: rotate(45deg);
                top: 8px;
                position: relative;
              }
  
              &:nth-of-type(2) {
                width: 0;
              }
  
              &:nth-of-type(3) {
                transform: rotate(135deg);
                bottom: 8px;
                position: relative;
              }
            }
          }
        }
        .navbar-nav {
          margin-top: $navigation-height-desktop;
  
          .nav-link {
            text-align: left;
            padding:#{$s-s - 5px} $s-s;
            color: white;
            font-size: 11px;
            transition: .2s background-image ease-in-out;
  
            &:active {
              background-color: #16151A80;
              /* For browsers that do not support gradients */
              background-image: linear-gradient(#16151A80, #2A283600, #16151A80);
              /* Standard syntax (must be last) */
            }
          }
        }
        .social {
          margin: $s-s/2 0 0 $s-s;
          i {
            color: $brand-primary;
          }
          &-link {
            &:nth-of-type(2){
              margin: auto $s-s;
            }
          }
        }
      }

    &-toggler {
      position: absolute;
      top: $s-s;
      right: $s-s;
      z-index: 5;
      width: 25px;
      padding: 0;
      outline: none;
      border: 0;

      &-line {
        width: 100%;
        height: 2px;
        background: $brand-dark;
        display: block;
        margin: 5px auto;
        transition: .2s all ease-in-out;
        border-radius: 2px;
      }
    }

    &-brand {
      padding: 0;
      position: relative;
      z-index: 2;

      img {
        width: $brand-width;
      }
    }

  }

  // Desktop specific styling
  @media (min-width: $tablet) {
    left: 0;
    .navbar {
     
    }
  }

  // Mobile specific styling
  @media (max-width: $tablet) {
  }
}