.css{
    &-2b097c-container {
        margin: 7px 30px 7px 15px;
        border: none;
        border-radius: 12.5px;
        display: inline-block;
        width: 100%;

    }
    &-tlfecz-indicatorContainer {
        color: hsl(0, 0%, 40%) !important;
    }
    &-yk16xz-control {
        border-radius: 12.5px !important;
        border-style: none !important; 
        border-width: 0 !important; 

    }
    &-1rhbuit-multiValue {
        background-color: rgba(207, 221, 232, 0.6) !important;
        border-radius: 12.5px !important;
        padding: 0 5px;
    }
    &-12jo7m5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        color: #4A4A4A;
    }
    &-xb97g8 {
        color : #4A4A4A, 100%;
    }

}

    // Mobile specific styling
    @media (max-width: $tablet) {
        .css{
            &-2b097c-container {
                width: 88vw;
        
            }
        }
        
    }