.charts {
    padding: 15px;
}

.sorc_dashboards {
    background-color: #F1F1F1;
    &--citizen_engagement {
        margin-top: 15px;
    }
    .stat_display_panel {
        background-color: white;
        margin-bottom: 15px;
        padding: 15px 0;

        .first_panel {
            border-right: 1px solid #B2BEC3;
        }
        &--averages {
            height: 28px;
        }
        .catagory-name {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            padding: 0 15px;
            text-align: left;
            color: #2F3442;
            text-transform: capitalize;
            span {
                font-weight: 400;
                font-size:13px;
            }
        }
         .select-container {
             position: relative;
             bottom: 4px;
         }
        &--numbers {

          h1 {
              text-align: center;
              line-height: 30px;
              font-size: 24px;
              color: #2F3442;
          }
          p {
            text-align: center;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #2F3442;
          }
          .green {
            color:#36A39C;
          }
          .red {
            color:#F94144;
          }
        }      
    }
    .charts_dashboards {
        background-color: white;
        width:98%;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 0;
        .post_breakdown-container {
            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 16px;

                color: #2F3442;
                
            }
        }
        .spacer {
            display: inline-block;
            background-color: transparent;
            height: 15px;
        }


        &--left_container {
            border-right: 2px solid #F1F1F1;
        }
        &--select {
            border-bottom: 2px solid #F1F1F1;
            //here
            &-container {
                width: 70%;
            }
        }
        &--button {
            background: #FFFFFF;
            border: 1px solid #4A4A4A;
            border-radius: 11px;
            box-shadow: none;
            height: 25px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            margin-top: 10px;
            padding: 1px 5px;
            height: 17px;
            width: 63px;
            float: right;
        }
        &--households {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &--barcharts {
            hr {
                height: 2px;
                color:#F1F1F1;
            }
            .post_breakdown-container{
                padding: 24px;
                h1 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    color: #2F3442;
                    margin-bottom: 5px;
                }
                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 16px;
                    color: #2F3442;
                    margin-bottom: 20px;

                }
            table {
                tr {
                    th {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #979797;
                        padding-bottom: 4px;
                    }
                    td{
                        width: 100vw;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #2F3442;
                        a {
                            text-decoration-line: underline;
                            color: #2F3442;
                        }

                    }
                    .right {
                        text-align: right;
                        

                    }
                }
            }
          }
          .left-container {
            border-right: 2px solid #F1F1F1;
          }
        }
    }
    .spacer {
        width: 100%;
        height: 5px;
        &--top {
            height: 100px;
            width: 100%;
            display: block;
        }
    }
}
span#select2-my-select-container {
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 13px !important;
    color: #4A4A4A !important;
    

}

.stat_display_panel--numbers  {
    .select2 {
        width: 177px !important;
    }
    .select2-container {
        .selection {
            .select2-selection {
                .select2-selection__arrow {
                    &::before {
                        font-size: 12px !important;
                        top: 5px !important;
                        right: 20px !important;
                    
                    }
                }
            }
            .select2-selection--single {
                height: 28px !important;
            }
        }
    }
}

    // Mobile specific styling
    @media (max-width: $tablet) {
        .sorc_dashboards {
            .stat_display_panel {
                padding: 15px;
                .first_panel {
                    border: 0;
                }
                &--numbers {
                    margin: 0;
                }
            }
        }
        
    }