// NOTICE
// A reminder to switch on or off various project specific styles found in

@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables_covid",
"abstracts/variables_scoda",
"abstracts/pace",
"abstracts/functions",
"abstracts/mixins",
"abstracts/vendor-overrides";

// 2. Base styles
@import "base/base",
"base/fonts",
"base/typography",
"base/helpers";

// 3. Elements
@import "elements/button", "elements/title-block", "elements/image";

// 4. Components
@import 
"components/hero_mini",
"components/breadcrumbs",
"components/navigation_covid",
"components/listing_basic",
"components/home-logos",
"components/card-chest",
"components/card-drawer",
"components/card",
"components/footer",
"components/footer_mobile_light",
"components/home-logos",
"components/cta_block",
"components/preview_block",
"components/content-block",
"components/data-stories",
"components/introduction",
"components/hero_fluid",
"components/hero_collapsible",
"components/datastories",
"components/select",
"components/indicatorexplorer",
"components/navigation-scoda",
"components/about-us",
"components/tabs",
"components/toggle",
"components/codebook",
"components/subnav",
"components/socr_dashboards",
"components/dropdown",
"components/sidebar_left",
"components/react_select",
"components/label",
"components/switch_text",
"components/leaflet",
"components/demographicmodeller",
"components/cookiepolicy",
"components/socr",
"components/card-preview",
"components/popovers";