// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font;
}

h1,h2,h3,h4,h5,h6, p, span, label, input, ul {
  @include no-margin-padding;
}

body {
  background-repeat: repeat;
  padding-top: $navigation-height-desktop;
  background: white;
  position: relative;
  // @include custom-scrollbar(white);
  // overflow-y: auto;
  
  // Content wrapper for react
  #content-scoda{
    min-height: 100vh;
    padding-bottom: 32px;
    background-color: #eee;
  }
}
#content{
  background-color: #F1F1F1;
}

text {
  font-family: 'Montserrat' !important;
}
/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $background-colour;
  // background: #2d3036;
//   height: 100vh;
}
iframe {
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
/**
 * Basic styles for links
 */
a {
  color: $brand-primary;
  text-decoration: none !important;

  @include on-event {
    color: $font-general;
    text-decoration: underline;
  }
}
.no-result {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
  margin-left: 70px;
  margin-top: 8px;
}
input {
  width: 100%;
  outline: none;
  // Hide the default date picker arrow
  &::-webkit-calendar-picker-indicator, 
  &::-webkit-inner-spin-button,
  &::-webkit-clear-button {
    display: none;
  }
  // Hide the default date picker prompt
  &[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
  }
}

hr {
  border-top: 2px solid;
  opacity: .5;
  width: 100%;
  &.dashed {
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 11px 2px;
    background-repeat: repeat-x;
    border-top: unset !important;
    border: unset;
    height: 2px;
    opacity: .3 !important;
    margin: $s-s 0;
  }
  &.light {
    border-color: #B2BEC3 !important;
  }
  &.requests {
    margin-bottom: 20px;
    margin-top: 20px !important;
  }
}

a {
  cursor: pointer;
}

.module {
  @include module;
  > .container {
    padding: 0;
  }
}

.component {
  margin: $s-s 0;
}

label {
  margin-top: $s-s - 5px;
}

.show {
  display: block !important;
}

.highlight {
  color: $brand-primary !important;
  font-weight: 500 !important;
}

.anchor {
  top: -$navigation-height-desktop - $s-t;
  position: relative;
  visibility: hidden;
  display: block;
}

.component-background {
  background-color: $background-colour-component;
}
  // Desktop specific styling
  @media (min-width: $tablet) {
  }
  
  // Mobile specific styling
  @media (max-width: $tablet) {
    .daterangepicker {
      display: none !important;
    }
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@600&display=swap');

  .adh{
    &--navigation{
      box-shadow: 0px 6px 14px 0px #0000001A;
      padding: 15px 0;
      background-color: #FFFFFF;

        &-logo{
            background-image: url("/static/dist/img/ADH Logo.png");
            width: 202.99998474121094px;
            height: 44px;

        }
        a{
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 14px;
            line-height: 16.42px;
            color: #155263;
        }
    }

    &--footer{
      padding: 15px 0;
      background-color: #FFFFFF;
      position: absolute;
      width: 100%;
      bottom: 0;
      span{
        font-family: 'Work Sans';
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.02em;
        color: #155263;
        a{
          color: #ED7245;
          display: inline-block;
          font-family: 'Work Sans';
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: -0.02em;
        }
      }
    }
}