.explore {
&.container {
    max-width: 940px;
}
.control-label {
    font-size: 10px;
    margin-bottom: 3px;
}
    .google-visualization {
        &-table {
            width: 100%;
            &-table {
                width: 100%;
            }
        }
        &-controls {
            &-categoryfilter {
                li {
                    border-radius: 14px !important;
                    background: rgba(207,221,232,0.6) !important;
                    border: 0 !important;
                    font-size: 10px;
                    display: table;
                    padding: 4px 8px !important;
                    margin: 10px 0 !important;
                    &:hover {
                        border: 0 !important;
                    }
                }
            }
        }
    }
    
    .btn {
        box-shadow: $box-shadow;
        font-weight: 700;
        &.search {
            float: left;
        }
    }
    a {
        &.reset {
            float: right;
            .btn {
                background: white;
                color: $font-general;
                border: 0;
            }
        }
    }
 
    h1 {
        font-size: 24px;
        font-weight: 700;
        color: #485460;
        margin: 30px 0;
    }

    #selectorCard {
        background: #485460;
        color: white;
        .container {
            max-width: 100%;
        }
        form {
            border-right: 1px solid white;
            padding-right: 30px;
        }
        p {
            color: #CACACA;
            font-weight: 500;
            font-size: 16px;
            margin-top: 12px;
        }
        .select2-container--default .select2-selection--single {
            border-radius: 20px;
            height: 40px;
            .select2-selection__arrow b {
                border-width: 9px 7px 0 8px;
                height: 0;
                right: 0;
                margin-right: 3%;
                margin-top: 0;
                position: absolute;
                top: 39%;
                width: 0;
            }
            .select2-selection__rendered {
                line-height: 40px;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

}