<p>It is tempting to employ closed system methodologies to make ward and city projections but the information requirements are not met. At sub-national level it cannot be assumed that those born in a city will continue to live there and the information demands for quantifying flows between small spatial entities enumerator areas are not met. Without adequate information on migration patterns knowing the fertility and mortality trends lends little insight into population changes. There are three main constraints on modelling migration at city or ward level:

    <ol>
    <li>The frequency with which censi are conducted</li>
        <li>The ability of the census to capture movement between wards as these are unnamed entities which change frequently</li>
        <li>The need to classify migration patterns. enumerator areas A significant proportion of migration can be typified as 'oscillating' with people moving to-and-from between cities and homesteads or a regular basis.</li>
    </ol>
</p>

<p>South Africa finds itself at a peculiar junction which further emphasise the centrality of migration in population estimates. The UN indicates that in 2016 the number of which births in the country matched the number of deaths for the first time. This means that there is currently no natural population growth in the country and all increases are due to immigration. It is expected that from this point on births will increasingly lag behind deaths. Consequently the SA population will gradually age and, putting the impact of immigration aside, start declining. The age pyramid of SA reflects this trend and displays little difference between the number of people in the youngest age cohort and those aged 25 to 29.</p>

<img src="static/img/demo_figure1.png" style="display:block; margin: 0 auto">

<p>Urban areas tend have led the transition towards declining fertility and increased longevity (i.e declining mortality rates). These factors cast the role of migration at the centre of determining population trends. As indicated above it is precisely at this point that the data is the least systematic.</p>

<p>In other countries migration trends have been derived from the address registers associated with tax records, utility accounts or social security benefits. However South Africa joins that majority group where such data is inadequate. Essentially sub-national migration patterns can only be inferred from population changes post-facto.</p>

<p>Sub-national projections can now only be made on the basis of established or hypothesized trends. For example, if aa key assumption is made that past growth patterns of any administrative area is informative of what is will come then population projections can be made. The value of these projections then rest on the veracity of that key assumption and the how well those trends are extrapolated. More importantly these projections can be made without reference to fertility, mortality or migration rates.</p>
