<p>At its simplest level the projections of city populations require knowledge of the population at two distinct periods (like the latest two censi). With this information the population growth can be projected linearly forward. This method of projection assumes that the observed growth rate continues unchanged for the period over which projections are made.</p>

<p>Improved population projections can however be made by obtained additional data points and by basing the projections on smaller spatial entities. For cities two additional data points can be derived for post-1994 South Africa. These are for 1996 and 2016.

    <ul>
        <li>1996 population estimates can be obtained by combining enumerator areas from the 1996 census to reconstitute the 2016 city boundaries.</li>
        <li>Recently estimates of the 2016 population for each municipality were provided by StatsSA. These estimates are derived from a national survey of 10% of dwellings units. While that survey did not involve a re-listing of all the dwellings in the sampled areas the number of dwellings was adjusted on the basis of satellite and other imagery. That survey is taken as a reliable reflection of the population in each municipality.</li>
    </ul>
</p>

<p>Collectively the data thus provides four data points (1996, 2001, 2011 and 2016) for each metropolitan area. Projecting the population of each metro then becomes a question of distilling the underlying trend and extrapolating that trend to 2021 and beyond. Deriving the underlying trend is essentially a question of fitting a curve to the observed points. That curve is then extrapolated forward to make projections.</p>
