<link rel="stylesheet" href="../../static/vendor/shepherd/css/shepherd-theme-dark.css"/>
<script type="text/javascript">

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function () {

        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

    });

</script>

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">

            {# Plotting Card #}

            {% include 'snippets/image_export.html' %}

            {% include 'snippets/charts_bar_constructor.html' %}

            <div id="dashboard">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-lg-12">
                        <div class="card" id="selectCard">
                            <div class="card-header">Select Your Data</div>
                            <div class="card-block">
                                <div id="categorySelector2"></div>
                                <div id="categorySelector1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-lg-12">
                        <div class="card" id="chartCard">
                            <div class="card-header">Plotting Window</div>
                            <div class="card-block">
                                <div id="chart"
                                     style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                                <div id="chart_img" class="hidden"
                                     style="display: none; margin: 0 auto; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">Selected Data</div>
                            <div class="card-block">
                                <div id="table"
                                     style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                                <div id="table2"
                                     style="display: none; margin: 0 auto; width: 100%;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-2">
                <div class="card" id="mapSelect">
                    <div class="card-header">Download Data</div>
                    <div class="card-block" style="text-align: center">
                        <a id="Export" href="data.csv" target="_blank" download="data.csv">
                            <button class="btn btn-primary" style="margin-right: 10px">Download Table
                                Data
                                As CSV
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6 col-lg-2">
                <div class="card" id="mapSelect">
                    <div class="card-header">Download Plot</div>
                    <div class="card-block" style="text-align: center">
                        <a download="chart.png" id="image_download"
                           onclick="saveAsImg(document.getElementById('chart_img'));">
                            <button class="btn btn-primary" style="margin-left: 10px">Save Chart As
                                PNG
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

        $(document).ready(function (e) {
            var selectHeight = $("#mapSelect").height() + 2;
            $("#descriptionCard").css({height: selectHeight});
        });

    </script>
