<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
<link rel="stylesheet" href="../../static/vendor/shepherd/css/shepherd-theme-dark.css"/>
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<style>#map1 {
    width: 100%;
    height: 642px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


#map2 {
    width: 100%;
    height: 300px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

</style>

<script type="text/javascript">

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

         $('#Form1').on('change', function () {

            var region_input = $('#region_id1').find("option:selected").val();
            var ward_input = $('#ward_id1').find("option:selected").val();

            $.getJSON('/_parse_demo', {

                    region_id: region_input,
                    ward_id: ward_input

                },
                function (data) {
                    var wards = data.wards;

                    $("#ward_id1").empty();

                    var options = $("#ward_id1");
                    options.empty();
                    wards.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });
        });

         $('#Form2').on('change', function () {

            var region_input = $('#region_id2').find("option:selected").val();
            var ward_input = $('#ward_id2').find("option:selected").val();

            $.getJSON('/_parse_demo', {

                    region_id: region_input,
                    ward_id: ward_input

                },
                function (data) {
                    var wards = data.wards;

                    $("#ward_id2").empty();

                    var options = $("#ward_id2");
                    options.empty();
                    wards.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });
        });

    });

</script>

<script type="text/javascript">

    google.charts.load('visualization', 'current', {
        packages: ['line']
    });

    function drawBar1() {

        var data1 = google.visualization.arrayToDataTable({{ table1|safe }});
        var data2 = google.visualization.arrayToDataTable({{ table2|safe }});

        var options1 = {
          curveType: 'function',
          legend: {position:'none'},
          chartArea: {top: "10%"},
          lineWidth: 5,
          tooltip: { isHtml: true },
          hAxis: {gridlines: {count: 4}},
          axes: {
                    y: {
                        all: {
                            range: {
                                max: {{ max1 }},
                                min: 0
                            }
                        }
                    }
                },
          colors: ['#BD0026'],
        };

        var options2 = {
          curveType: 'function',
          legend: {position:'none'},
          chartArea: {top: "10%"},
          tooltip: { isHtml: true },
          hAxis: {gridlines: {count: 4}},
          axes: {
                    y: {
                        all: {
                            range: {
                                max: {{ max2 }},
                                min: 0
                            }
                        }
                    }
                },
            colors: ['#BD0026'],
        };

        var chart1 = new google.charts.Line(document.getElementById('chart1'));

        chart1.draw(data1, google.charts.Line.convertOptions(options1));

        var chart2 = new google.charts.Line(document.getElementById('chart2'));

        chart2.draw(data2, google.charts.Line.convertOptions(options2));

        function resize () {
               chart1.draw(data1, google.charts.Line.convertOptions(options1));
               chart2.draw(data2, google.charts.Line.convertOptions(options2));
           }

           if (window.addEventListener) {
               window.addEventListener('resize', resize);
           }

           else {
               window.attachEvent('onresize', resize);
           }

        }

    google.setOnLoadCallback(drawBar1);

</script>

<div class="container">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">

                <span class="breadcrumbs-global"><h1><strong>Demographics Model</strong></h1><a href="http://scoda.opendata.durban/dataset" class="btn btn-outline"><i class=
                    "fas fa-arrow-left"></i> Back to Datasets</a></span>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="card">
                        <div class="card-header" id="formCardHead1">Area Selector</div>
                        <div class="card-block" id="formCard">
                            <form action="{{ url_for('demographics') }}" id="Form1" class="form-horizontal" method="POST">
                                {{ form1.csrf_token }}
                                {{ form1.hidden_tag() }}
                                <div class="form-group {% if form1.region_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="city_label">
                                        City Selection:
                                    </div>
                                    <div>
                                        {{ form1.region_id(id='region_id1',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form1.region_id.errors[0] }}
                                </div>

                                <div class="form-group {% if form1.city_ward_code.errors %} has-error {% endif %}">
                                    <div class="control-label" id="ward_label">
                                        Ward Selection:
                                    </div>
                                    <div>
                                        {{ form1.city_ward_code(id='ward_id1',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form1.city_ward_code.errors[0] }}
                                </div>

                                <div class="form-group {% if form1.year.errors %} has-error {% endif %}">
                                    <div class="control-label" id="year_label">
                                        Year:
                                    </div>
                                    <div>
                                        {{ form1.year(id='year1', class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form1.year.errors[0] }}
                                </div>
                                <div class="row" style="text-align: center">
                                    <button class="btn btn-success" type="submit" id="submitButton1">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card" id="chartCard1">
                        <div class="card-header">
                            Time Series
                        </div>
                        <div class="card-block" style="padding: 0; height: 300px;">
                            <div id='chart1' style="display: inline-block; margin: 0 auto; height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div>

                {# Plotting Card #}

                <div class="col-sm-12 col-md-6 col-lg-9">
                    <div class="card" id="geoCard1">
                        <div class="card-header" id="geoCardHead1">
                            Geographic Representation
                            <a class="btn explore" href="/demographics/{{ region1 }}/{{ ward1 }}/download" download="demographics.csv" id="downloadButton1">Download</a>
                        </div>
                        <div class="card-block" style="padding: 0; height: 300px;">
                            <div id='map1'></div>
                        </div>
                    </div>
                </div>

                {# Chart Card #}

            </div>

        <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block" style="text-align: left" id="jhbNightFormCard">
                            <div class="row">
                                <a href="{{ url_for('demographics_night_jhb') }}" class="btn nightlights" id="submitButton1">View Nightlights Explorer</a>
                                <a href="/report" class="btn methodology explore" id="submitButton2">Download Methodology</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    var map1 = L.map('map1').setView([-26.195246, 28.034088], 10);

    L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
    }).addTo(map1);


    // listen for when all features have been retrieved from the server

    // control that shows state info on hover
    var info1 = L.control();

    info1.onAdd = function (map1) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info1.update = function (props) {
        this._div.innerHTML = '<h4>Demographic Model Data</h4>' + (props ?
            '<b>' + props.name + '</b><br />Migration Value for <b>' + props.year + '</b>: ' + props.density + '<br />Flow Value: ' + props.flow
                : 'Hover over a region');
    };

    info1.addTo(map1);


    // get color depending on population density value
{#    function getColor(d) {#}
{#        return d > 100000 ? '#800026' :#}
{#            d > 50000 ? '#BD0026' :#}
{#                d > 20000 ? '#E31A1C' :#}
{#                    d > 10000 ? '#FC4E2A' :#}
{#                        d > 5000 ? '#FD8D3C' :#}
{#                            d > 2000 ? '#FEB24C' :#}
{#                                d > 1000 ? '#FED976' :#}
{#                                    '#FFEDA0';#}
{#    }#}

    function getColor(d) {
        return d > 5000 ? '#b2182b' :
            d > 2500 ? '#d6604d' :
                d > 1000 ? '#f4a582' :
                    d > 500 ? '#fddbc7' :
                        d > 0 ? '#f7f7f7' :
                            d > -500 ? '#d1e5f0' :
                                d > -1000 ? '#92c5de' :
                                    d > -2500 ? '#4393c3':
                                        d > -5000 ? '#2166ac':
                                            '#053061';

    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.flow)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info1.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info1.update();
    }

    function zoomToFeature(e) {
        map1.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    var statesData = {{ geometries1|safe }}

        geojson = L.geoJson(statesData, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map1);


    map1.fitBounds(geojson.getBounds());


    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map1) {

        var div = L.DomUtil.create('div', 'info legend'),
{#            grades = [0, 1000, 2000, 5000, 10000, 20000, 50000, 100000],#}
            grades = [-5000, -2500, -1000, -500, 0, 500, 1000, 2500, 5000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map1);

{# SECOND MAP #}

</script>

<script type="text/javascript">

    var map2 = L.map('map2').setView([-26.195246, 28.034088], 10);

    L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
    }).addTo(map2);


    // listen for when all features have been retrieved from the server

    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map2) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        this._div.innerHTML = '<h4>Demographic Model Data</h4>' + (props ?
            '<b>' + props.name + '</b><br />Migration Value for <b>' + props.year + '</b>: ' + props.density + '<br />Flow Value: ' + props.flow
                : 'Hover over a region');
    };

    info.addTo(map2);


    // get color depending on population density value
{#    function getColor(d) {#}
{#        return d > 100000 ? '#800026' :#}
{#            d > 50000 ? '#BD0026' :#}
{#                d > 20000 ? '#E31A1C' :#}
{#                    d > 10000 ? '#FC4E2A' :#}
{#                        d > 5000 ? '#FD8D3C' :#}
{#                            d > 2000 ? '#FEB24C' :#}
{#                                d > 1000 ? '#FED976' :#}
{#                                    '#FFEDA0';#}
{#    }#}

    function getColor(d) {
        return d > 5000 ? '#b2182b' :
            d > 2500 ? '#d6604d' :
                d > 1000 ? '#f4a582' :
                    d > 500 ? '#fddbc7' :
                        d > 0 ? '#f7f7f7' :
                            d > -500 ? '#d1e5f0' :
                                d > -1000 ? '#92c5de' :
                                    d > -2500 ? '#4393c3':
                                        d > -5000 ? '#2166ac':
                                            '#053061';

    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.flow)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map2.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    var statesData = {{ geometries2|safe }}

        geojson = L.geoJson(statesData, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map2);


    map2.fitBounds(geojson.getBounds());


    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map2) {

        var div = L.DomUtil.create('div', 'info legend'),
{#            grades = [0, 1000, 2000, 5000, 10000, 20000, 50000, 100000],#}
            grades = [-5000, -2500, -1000, -500, 0, 500, 1000, 2500, 5000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map2);

</script>

