<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
<link rel="stylesheet" href="../../static/vendor/shepherd/css/shepherd-theme-dark.css"/>
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<style>#map1 {
    width: 100%;
    height: 300px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


#map2 {
    width: 100%;
    height: 300px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

</style>

<script type="text/javascript">

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

         $('#Form1').on('change', function () {

            var region_input = $('#region_id1').find("option:selected").val();
            var ward_input = $('#ward_id1').find("option:selected").val();

            $.getJSON('/_parse_demo', {

                    region_id: region_input,
                    ward_id: ward_input

                },
                function (data) {
                    var wards = data.wards;

                    $("#ward_id1").empty();

                    var options = $("#ward_id1");
                    options.empty();
                    wards.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });
        });

         $('#Form2').on('change', function () {

            var region_input = $('#region_id2').find("option:selected").val();
            var ward_input = $('#ward_id2').find("option:selected").val();

            $.getJSON('/_parse_demo', {

                    region_id: region_input,
                    ward_id: ward_input

                },
                function (data) {
                    var wards = data.wards;

                    $("#ward_id2").empty();

                    var options = $("#ward_id2");
                    options.empty();
                    wards.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });
        });

        {% if tour %}

        var tour = new Shepherd.Tour({
                defaults: {
                    classes: 'shepherd-theme-dark',
                    scrollTo: false
                }
            });

            tour.addStep('welcome', {
                title: 'Welcome to the Demographics Explorer!',
                text: 'This short tour will guide you through the necessary steps to explore the demographic modelling data contained in this almanac. You can exit the tour at any stage by clicking on the "Exit" button.',
                attachTo: '#breadCrumb bottom',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('Intro', {
                title: 'Details of the Model...',
                text: 'An extensive description of the demographics model used on this platform, along with details of its derivation and implementation are provided in the sections below. Clicking on the arrows located in the right corners of each section will drop down the information.',
                attachTo: '#introFormCardHead top',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('form', {
                title: 'The Selection Form',
                text: 'This form is here to help you find the region you are interested in exploring. The selection fields will allow you to find the city, ward and year that you would like to explore. ',
                attachTo: '#formCardHead1 right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('city', {
                title: 'City Selector',
                text: 'This field allows you to select the the city you would like to look at.',
                attachTo: '#city_label right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('ward', {
                title: 'Ward Selector',
                text: 'This field allows you to select the ward that you would like to look at. Initially, and when "View All" is selected, the aggregated ward data will be shown. Selecting a particular ward and clicking "Submit" will zoom to that Ward and will show the small enumerator areas along with their data values.',
                attachTo: '#ward_label right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('year', {
                title: 'Year Selector',
                text: 'This field allows you to choose which year\'s data values you would like to explore.',
                attachTo: '#year_label right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('submit', {
                title: 'Submit Button',
                text: 'Once you have made your selections, click "Submit" to view the data!',
                attachTo: '#submitButton1 right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

             tour.addStep('download', {
                title: 'Download Button',
                text: 'Clicking on this button will download all total population data for the selected region (city or ward) from 1996 to 2030.',
                attachTo: '#downloadButton1 right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('plot', {
                title: 'Map Area',
                text: 'This map shows projected migration model values at the ward and small enumerator area levels for each metro. Clicking on an area will zoom to it, though clicking on a ward will NOT reveal its underlying enumerators.',
                attachTo: '#geoCardHead1 left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('plot2', {
                title: 'Map Area',
                text: 'Map polygons are coloured according to the total calculated flow of people into or out of the area over the course of the preceeding year. Consequently, 1996 values will register 0 net flow as there is no prior data to compare to. The calculated total number of people in an area is also shown within the tooltip that appears when you hover over an area.',
                attachTo: '#geoCardHead1 left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('time', {
                title: 'Time-series',
                text: 'This plot gives the values for the selected region (city or ward) from 1996 to 2030.',
                attachTo: '#chartCard1 left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('time2', {
                title: 'Comparative Plotting',
                text: 'A second demographics explorer row is provided to allow for comparisons between regions to be made.',
                attachTo: '#geoCardHead2 top',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.start();

        {% endif %}
    });

</script>

<script type="text/javascript">

    google.charts.load('visualization', 'current', {
        packages: ['line']
    });

    function drawBar1() {

        var data1 = google.visualization.arrayToDataTable({{ table1|safe }});
        var data2 = google.visualization.arrayToDataTable({{ table2|safe }});

        var options1 = {
          curveType: 'function',
          legend: {position:'none'},
          chartArea: {top: "10%"},
          lineWidth: 5,
          hAxis: {gridlines: {count: 4}},
          axes: {
                    y: {
                        all: {
                            range: {
                                max: {{ max1 }},
                                min: 0
                            }
                        }
                    }
                },
          colors: ['#BD0026'],
        };

        var options2 = {
          curveType: 'function',
          legend: {position:'none'},
          chartArea: {top: "10%"},
          hAxis: {gridlines: {count: 4}},
          axes: {
                    y: {
                        all: {
                            range: {
                                max: {{ max2 }},
                                min: 0
                            }
                        }
                    }
                },
            colors: ['#BD0026'],
        };

        var chart1 = new google.charts.Line(document.getElementById('chart1'));

        chart1.draw(data1, google.charts.Line.convertOptions(options1));

        var chart2 = new google.charts.Line(document.getElementById('chart2'));

        chart2.draw(data2, google.charts.Line.convertOptions(options2));

        function resize () {
               chart1.draw(data1, google.charts.Line.convertOptions(options1));
               chart2.draw(data2, google.charts.Line.convertOptions(options2));
           }

           if (window.addEventListener) {
               window.addEventListener('resize', resize);
           }

           else {
               window.attachEvent('onresize', resize);
           }

        }

    google.setOnLoadCallback(drawBar1);

</script>

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">


            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="introFormCardHead">An Introduction To The Demographics Model
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#formCard" aria-expanded="true"
                                   aria-controls="formCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify"  id="formCard">
                            {% include 'paragraphs/demo_introduction.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="card">
                        <div class="card-header" id="formCardHead1">Area Selector</div>
                        <div class="card-block" id="formCard">
                            <form action="{{ url_for('demographics') }}" id="Form1" class="form-horizontal" method="POST">
                                {{ form1.csrf_token }}
                                {{ form1.hidden_tag() }}
                                <div class="form-group {% if form1.region_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="city_label">
                                        City Selection:
                                    </div>
                                    <div>
                                        {{ form1.region_id(id='region_id1',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form1.region_id.errors[0] }}
                                </div>

                                <div class="form-group {% if form1.city_ward_code.errors %} has-error {% endif %}">
                                    <div class="control-label" id="ward_label">
                                        Ward Selection:
                                    </div>
                                    <div>
                                        {{ form1.city_ward_code(id='ward_id1',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form1.city_ward_code.errors[0] }}
                                </div>

                                <div class="form-group {% if form1.year.errors %} has-error {% endif %}">
                                    <div class="control-label" id="year_label">
                                        Year:
                                    </div>
                                    <div>
                                        {{ form1.year(id='year1', class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form1.year.errors[0] }}
                                </div>
                                <row>
                                    <button class="btn btn-success" type="submit" id="submitButton1">Submit</button>
                                    <a href="/demographics/{{ region1 }}/{{ ward1 }}/download" download="demographics.csv"><button class="btn btn-primary" type="button" id="downloadButton1">Download</button></a>

                                </row>
                            </form>
                        </div>
                    </div>
                </div>

                {# Plotting Card #}

                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="card" id="geoCard1">
                        <div class="card-header" id="geoCardHead1">
                            Geographic Representation
                        </div>
                        <div class="card-block" style="padding: 0; height: 300px;">
                            <div id='map1'></div>
                        </div>
                    </div>
                </div>

                {# Chart Card #}

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" id="chartCard1">
                        <div class="card-header">
                            Time Series
                        </div>
                        <div class="card-block" style="padding: 0; height: 300px;">
                            <div id='chart1' style="display: inline-block; margin: 0 auto; height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="card">
                        <div class="card-header" id="formCardHead2">Area Selector</div>
                        <div class="card-block" id="formCard">
                            <form action="{{ url_for('demographics') }}" id="Form2" class="form-horizontal" method="POST">
                                {{ form2.csrf_token }}
                                {{ form2.hidden_tag() }}
                                <div class="form-group {% if form2.region_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="city_label">
                                        City Selection:
                                    </div>
                                    <div>
                                        {{ form2.region_id(id='region_id2',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form2.region_id.errors[0] }}
                                </div>

                                <div class="form-group {% if form2.city_ward_code.errors %} has-error {% endif %}">
                                    <div class="control-label" id="ward_label">
                                        Ward Selection:
                                    </div>
                                    <div>
                                        {{ form2.city_ward_code(id='ward_id2',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form2.city_ward_code.errors[0] }}
                                </div>

                                <div class="form-group {% if form2.year.errors %} has-error {% endif %}">
                                    <div class="control-label" id="year_label">
                                        Year:
                                    </div>
                                    <div>
                                        {{ form2.year(id='year2',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form2.year.errors[0] }}
                                </div>
                                <row>
                                    <button class="btn btn-success" type="submit" id="submitButton2">Submit</button>
                                    <a href="/demographics/{{ region2 }}/{{ ward2 }}/download" download="demographics.csv"><button class="btn btn-primary" type="button" id="downloadButton2">Download</button></a>
                                </row>
                            </form>
                        </div>
                    </div>
                </div>

                {# Plotting Card #}

                <div class="col-sm12 col-md-6 col-lg-5">
                    <div class="card" id="geoCard2">
                        <div class="card-header" id="geoCardHead2">
                            Geographic Representation
                        </div>
                        <div class="card-block" style="padding: 0; height: 300px;">
                            <div id='map2'></div>
                        </div>
                    </div>
                </div>

                {# Chart Card #}

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" id="chartCard2">
                        <div class="card-header">
                            Time Series
                        </div>
                        <div class="card-block" style="padding: 0; height: 300px;">

                                <div id='chart2' style="display: inline-block; margin: 0 auto; height: 300px; width: 100%;"></div>

                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p1FormCardHead">How Not To Project Population
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p1FormCard" aria-expanded="true"
                                   aria-controls="p1FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify"  id="p1FormCard">
                            {% include 'paragraphs/demo_paragraph1.html' %}
                        </div>
                    </div>
                </div>
        </div>

        <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p2FormCardHead">Have Data Or Treat The System As "Open"
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p2FormCard" aria-expanded="true"
                                   aria-controls="p2FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify"  id="p2FormCard">
                            {% include 'paragraphs/demo_paragraph2.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p3FormCardHead">Metro Projections
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p3FormCard" aria-expanded="true"
                                   aria-controls="p3FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify"  id="p3FormCard">
                            {% include 'paragraphs/demo_paragraph3.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p4FormCardHead">Curve-fitting And Metro Projections
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p4FormCard" aria-expanded="true"
                                   aria-controls="p4FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify"  id="p4FormCard">
                            {% include 'paragraphs/demo_paragraph4.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p5FormCardHead">Metro Populations
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p5FormCard" aria-expanded="true"
                                   aria-controls="p5FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify"  id="p5FormCard">
                            {% include 'paragraphs/demo_paragraph5.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p6FormCardHead">The Method
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p6FormCard" aria-expanded="true"
                                   aria-controls="p6FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify" id="p6FormCard">
                            {% include 'paragraphs/demo_paragraph6.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p7FormCardHead">Verification
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p7FormCard" aria-expanded="true"
                                   aria-controls="p7FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify" id="p7FormCard">
                            {% include 'paragraphs/demo_paragraph7.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p8FormCardHead">Aggregating EAs
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p8FormCard" aria-expanded="true"
                                   aria-controls="p8FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify" id="p8FormCard">
                            {% include 'paragraphs/demo_paragraph8.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="p9FormCardHead">Modifying Projections
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#p9FormCard" aria-expanded="true"
                                   aria-controls="p9FormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" style="text-align: justify" id="p9FormCard">
                            {% include 'paragraphs/demo_paragraph9.html' %}
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header" id="jhbNightFormCardHead">Johannesburg Nightlights
                        </div>
                        <div class="card-block" style="text-align: left" id="jhbNightFormCard">
                            <p>You can explore the JHB Nightlights data by clicking on the button below.</p>
                            <div class="row" style="text-align: center;">
                                <a href="{{ url_for('demographics_night_jhb') }}"><button class="btn btn-primary btn-responsive" type="button" id="submitButton1">JHB</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header" id="ethNightFormCardHead">EThekwini Nightlights
                        </div>
                        <div class="card-block" style="text-align: left" id="jhbNightFormCard">
                            <p>You can explore the ETH Nightlights data by clicking on the button below.</p>
                            <div class="row" style="text-align: center;">
                                <a href="{{ url_for('demographics_night_eth') }}"><button class="btn btn-primary btn-responsive" type="button" id="submitButton2">ETH</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header" id="ethNightFormCardHead">Download The Methodology
                        </div>
                        <div class="card-block" style="text-align: left" id="jhbNightFormCard">
                            <p>You can download a PDF version of this page by clicking on the button below.</p>
                            <div class="row" style="text-align: center;">
                                <a href="{{ url_for('report_gen') }}"><button class="btn btn-primary btn-responsive" type="button" id="submitButton2">Download</button></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header" id="ethNightFormCardHead">Download The Model
                        </div>
                        <div class="card-block" style="text-align: left" id="modelDownload">
                            <p>You can download the R script and supporting data by clicking on the button below.</p>
                            <div class="row" style="text-align: center;">
                                <a href="{{ url_for('model_gen') }}"><button class="btn btn-primary btn-responsive" type="button" id="submitButton2">Download</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    var map1 = L.map('map1').setView([-26.195246, 28.034088], 10);

    L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
    }).addTo(map1);


    // listen for when all features have been retrieved from the server

    // control that shows state info on hover
    var info1 = L.control();

    info1.onAdd = function (map1) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info1.update = function (props) {
        this._div.innerHTML = '<h4>Demographic Model Data</h4>' + (props ?
            '<b>' + props.name + '</b><br />Migration Value for <b>' + props.year + '</b>: ' + props.density + '<br />Flow Value: ' + props.flow
                : 'Hover over a region');
    };

    info1.addTo(map1);


    // get color depending on population density value
{#    function getColor(d) {#}
{#        return d > 100000 ? '#800026' :#}
{#            d > 50000 ? '#BD0026' :#}
{#                d > 20000 ? '#E31A1C' :#}
{#                    d > 10000 ? '#FC4E2A' :#}
{#                        d > 5000 ? '#FD8D3C' :#}
{#                            d > 2000 ? '#FEB24C' :#}
{#                                d > 1000 ? '#FED976' :#}
{#                                    '#FFEDA0';#}
{#    }#}

    function getColor(d) {
        return d > 5000 ? '#b2182b' :
            d > 2500 ? '#d6604d' :
                d > 1000 ? '#f4a582' :
                    d > 500 ? '#fddbc7' :
                        d > 0 ? '#f7f7f7' :
                            d > -500 ? '#d1e5f0' :
                                d > -1000 ? '#92c5de' :
                                    d > -2500 ? '#4393c3':
                                        d > -5000 ? '#2166ac':
                                            '#053061';

    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.flow)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info1.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info1.update();
    }

    function zoomToFeature(e) {
        map1.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    var statesData = {{ geometries1|safe }}

        geojson = L.geoJson(statesData, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map1);


    map1.fitBounds(geojson.getBounds());


    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map1) {

        var div = L.DomUtil.create('div', 'info legend'),
{#            grades = [0, 1000, 2000, 5000, 10000, 20000, 50000, 100000],#}
            grades = [-5000, -2500, -1000, -500, 0, 500, 1000, 2500, 5000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map1);

{# SECOND MAP #}

</script>

<script type="text/javascript">

    var map2 = L.map('map2').setView([-26.195246, 28.034088], 10);

    L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
    }).addTo(map2);


    // listen for when all features have been retrieved from the server

    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map2) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        this._div.innerHTML = '<h4>Demographic Model Data</h4>' + (props ?
            '<b>' + props.name + '</b><br />Migration Value for <b>' + props.year + '</b>: ' + props.density + '<br />Flow Value: ' + props.flow
                : 'Hover over a region');
    };

    info.addTo(map2);


    // get color depending on population density value
{#    function getColor(d) {#}
{#        return d > 100000 ? '#800026' :#}
{#            d > 50000 ? '#BD0026' :#}
{#                d > 20000 ? '#E31A1C' :#}
{#                    d > 10000 ? '#FC4E2A' :#}
{#                        d > 5000 ? '#FD8D3C' :#}
{#                            d > 2000 ? '#FEB24C' :#}
{#                                d > 1000 ? '#FED976' :#}
{#                                    '#FFEDA0';#}
{#    }#}

    function getColor(d) {
        return d > 5000 ? '#b2182b' :
            d > 2500 ? '#d6604d' :
                d > 1000 ? '#f4a582' :
                    d > 500 ? '#fddbc7' :
                        d > 0 ? '#f7f7f7' :
                            d > -500 ? '#d1e5f0' :
                                d > -1000 ? '#92c5de' :
                                    d > -2500 ? '#4393c3':
                                        d > -5000 ? '#2166ac':
                                            '#053061';

    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.flow)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map2.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    var statesData = {{ geometries2|safe }}

        geojson = L.geoJson(statesData, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map2);


    map2.fitBounds(geojson.getBounds());


    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map2) {

        var div = L.DomUtil.create('div', 'info legend'),
{#            grades = [0, 1000, 2000, 5000, 10000, 20000, 50000, 100000],#}
            grades = [-5000, -2500, -1000, -500, 0, 500, 1000, 2500, 5000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map2);

</script>

