<footer class="site-footer footer">
        <div class="container">
          
          <div class="row">
      
            <div class="col-md-4 footer--col_one">
                <a href="#"><img class="ckan" src="/static/img/ckan-logo.png" alt="ckan logo"></a>
                <span><span class="scoda">SCODA</span> © South African Cities Network 2018 <br>All rights reserved —
                <a href="/terms-and-conditions">Terms and Conditions</a>
              </span>
            </div>
      
            <div class="col-md-4 footer--col_two">
              <span><p>email us:</p>
                <a href="mailto:scoda@sacities.net">scoda@sacities.net</a>
              </span>
            </div>
      
            <div class="col-md-4 footer--col_three">
              <a href="http://www.sacncloud.net/index.php/login">
                <img src="/static/img/cloud.png" alt="cloud logo">
              </a>
              <a href="https://www.facebook.com/SACitiesNetwork">
                <img class="icon" src="/static/img/facebook.png" alt="facebook logo">
              </a>
              <a href="https://twitter.com/SACitiesNetwork">
                <img src="/static/img/twitter.png" alt="twitter logo">
              </a>
              <a href="https://www.linkedin.com/company/3168975/admin/">
                <img class="icon" src="/static/img/linkedin.png" alt="linkedin logo">
              </a>
              <a href="https://www.instagram.com/sacitiesnetwork/">
                <img src="/static/img/instagram.png" alt="instagram logo">
              </a>
              <a href="https://www.youtube.com/channel/UC1Ro42Ivb9f0La57fuhjJFA/videos?view_as=subscriber">
                <img class="icon" src="/static/img/youtube.png" alt="youtube logo" style="margin-right: 0px;">
              </a>
            </div>
          </div>
      
          
        </div>
      
        
          
        
      </footer>
    <!-- Plugins and scripts required by all views -->
    <script src="../../static/js/classie.js"></script>
    <script src="../../static/js/uisearch.js"></script>
    <script src="../../static/js/app.js"></script>
    <script src="../../static/js/views/charts.js"></script>


