<link rel="stylesheet" href="../../static/vendor/shepherd/css/shepherd-theme-dark.css"/>

<script type="text/javascript">

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function () {

        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

        $('#Form').on('change', function () {

            var dataset_input = $('#dataset_id').find("option:selected").val();
            var indicator_input = $('#indicator_id').find("option:selected").val();
            var region_input = $('#region_id').find("option:selected").val();
            var type_input = $("#type_id").find("option:selected").val();
            var theme_input = $("#theme_id").find("option:selected").val();
            var year_input = $("#year").find("option:selected").text();

            $.getJSON('/_parse_data', {

                    dataset_id: dataset_input,
                    indicator_id: indicator_input,
                    region_id: region_input,
                    type_id: type_input,
                    theme_id: theme_input,
                    year: year_input

                },
                function (data) {
                    var datasets = data.dataset;
                    var indicators = data.indicator;
                    var regions = data.region;
                    var types = data.type;
                    var themes = data.theme;
                    var years = data.year;
                    var ind_ready = data.ind_ready;

                    if (ind_ready) {
                        document.getElementById("exploreButton").disabled = false;
                    }
                    $("#dataset_id").empty();
                    $("#indicator_id").empty();
                    $("#region_id").empty();
                    $("#type_id").empty();
                    $("#theme_id").empty();
                    $("#year").empty();

                    var options = $("#dataset_id");
                    options.empty()
                    datasets.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    var options = $("#indicator_id");
                    options.empty()
                    indicators.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#region_id");
                    options.empty()
                    regions.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#type_id");
                    options.empty()
                    types.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#theme_id");
                    options.empty()
                    themes.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#year");
                    options.empty();
                    years.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });
                });
        });

    });

</script>

<div class="explore container">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
        <div id="dashboard">
            <h1>Data Explorer</h1>
            
            <div class="row">

                <div class="col-sm-12">
                    <div class="card" id="selectorCard">
                        <div class="card-block" id="formCard">

                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <form action="{{ url_for('explore') }}" id="Form" class="form-horizontal" method="POST">
                                                {{ form.csrf_token }}
                                                {{ form.hidden_tag() }}
                                            <div class="form-group {% if form.indicator_id.errors %} has-error {% endif %}">
                                                    <div class="control-label" id="indicator_label">
                                                        Choose Your Indicator
                                                    </div>
                                                    <div>
                                                        {{ form.indicator_id(id='indicator_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                                    </div>
                                                    <p class="help-block">
                                                        {{ form.indicator_id.errors[0] }}
                                                </div>
                
                                                <div style="text-align: center">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                        <button class="btn btn-success btn-responsive search" id="exploreButton" type="submit" disabled>Search
                                                        </button>
                                                        <a href="{{ url_for('explore') }}" class="reset">
                                                            <button class="btn btn-primary btn-responsive" type="button" id="clearForm">Reset Form</button>
                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>This page provides access to the 102 different indicators used by the South African Cities Network in their State of Cities Report.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {% if plot %}

                {% include 'snippets/image_export.html' %}

                {% if plot_type == 2 %}

                {% include 'snippets/charts_bar.html' %}

                {% else %}

                {% include 'snippets/charts_line.html' %}

                {% endif %}

                <div class="col-sm-12">
                    <div class="card" id="tableCard">
                        <div class="card-header">Selected Data</div>
                        <div class="card-block">
                            <div id="table"
                                 style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                            <div id="table2"
                                 style="display: none; margin: 0 auto; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="card" id="selectCard">
                        <div class="card-header">Select Data</div>
                        <div class="card-block">
                            <div id="categorySelector2"></div>
                            <div id="categorySelector1"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-9">
                    <div class="card" id="chartCard">
                        <div class="card-header">Plotting Window</div>
                        <div class="card-block">
                            <div id="chart"
                                 style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                            <div id="chart_img" class="hidden"
                                 style="display: none; margin: 0 auto; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4" id="buttonColumn">
                        <div class="card" id="mapSelect">
                                <div class="card-header">Data on Map</div>
                                <div class="card-block" style="text-align: center">
                                    <select id="dataSelect" class="js-example-basic-single"
                                            {% if plot_type == 1 %}disabled{% endif %} style="width: 80%">
                                        {% if plot_type == 2 %}
                                            {% for o in options_list %}
                                                <option value="{{ o.optid }}">{{ o.optname }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="-">-</option>
                                        {% endif %}
                                    </select>
                                    <br>
                                    <br>
                                </div>
                            </div>

                </div>

                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="card" id="geoCard">
                        <div class="card-header">
                            Geographic Representation
                        </div>
                        <div class="card-block" style="padding: 0;">
                            <div id="geochart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>

            </div>

            {% endif %}

    </div>

</div>

<script type="text/javascript">

{#    $(document).ready(function (e) {#}
{#        var selectHeight = $("#mapSelect").height() + 2;#}
{#        $("#descriptionCard").css({height: selectHeight});#}
{#    });#}

</script>
