<link rel="stylesheet" href="../../static/vendor/shepherd/css/shepherd-theme-dark.css"/>

<script type="text/javascript">

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

        $('#newButton').click(function(){$('input[id=new_submitted]').val('1');});
        $('#editButton').click(function(){$('input[id=edit_submitted]').val('1');});
        $('#deleteButton').click(function(){$('input[id=delete_submitted]').val('1');});

            var tour = new Shepherd.Tour({
                defaults: {
                    classes: 'shepherd-theme-dark',
                    scrollTo: true
                }
            });

            tour.addStep('welcome', {
                title: 'Welcome to Your Datasets!',
                text: 'Here you can upload your own datasets, edit existing ones and delete those that you no longer need.',
                attachTo: '#breadCrumb bottom',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('form', {
                title: 'Uploading a new dataset...',
                text: 'Clicking on the downward arrow above will open a form that allows for you to upload a custom dataset to use in the Analysis Constructor. Any data uploaded to this server is stored securely and will not be accessed by any user other than yourself. The system administrator will have access, however, and any strictly private information should not be stored on this system. ',
                attachTo: '#newFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('form2', {
                title: 'Uploading a new dataset...',
                text: 'In order for your data to be compatible with other data on this platform it must have a specific structure and a downloadable template is provided <a href="{{ url_for('template_download') }}" download="template.csv">here</a> that demonstrates this structure.',
                attachTo: '#newFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('form3', {
                title: 'Updating an existing dataset...',
                text: 'This form allows for you to change the file associated with an existing dataset. Simply select the dataset you would like to update from the dropdown list provided, select the replacement CSV file and then submit.',
                attachTo: '#editFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('form4', {
                title: 'Deleting a dataset...',
                text: 'This form allows for you to delete an existing dataset. Simply select the dataset you would like to delete from the dropdown list provided and then click submit. Deleting a dataset will purge it permanently from the system and no-one will have further access to it.',
                attachTo: '#deleteFormCardHead left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.start();
    });

</script>

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
            <div class="row">

            {% if is_submitted %}

                <div class="col-sm-3 col-lg-3 col-lg-3">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="formCardHead">Upload a New Dataset
                        </div>
                         <div class="card-block collapse in " id="newFormCard" aria-expanded="true">
                            <p>Submission successful! You can check out your data in the Analysis Constructor...</p>
                            <br>
                            <a href="{{ url_for('my_datasets') }}"><button class="btn btn-success">Back to My Datasets</button></a>
                         </div>
                    </div>
                </div>

            {% else %}

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="newFormCardHead">Upload a New Dataset
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#newFormCard" aria-expanded="true"
                                   aria-controls="newFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" id="newFormCard" aria-expanded="true">
                            <form action="{{ url_for('my_datasets') }}" enctype=multipart/form-data id="newForm" class="form-horizontal" method="POST">
                                {{ new_form.csrf_token }}
                                {{ new_form.hidden_tag() }}


                                <div class="form-group{% if new_form.ds_name.errors %} has-error {% endif %}">
                                    <div class="control-label" id="new_dataset_label">
                                        Dataset name:
                                    </div>
                                    <div>
                                        {{ new_form.ds_name(id='new_ds_name',placeholder="Type name (required)...", styl="width: 100%", class="form-control") }}
                                    </div>
                                    <p class="help-block">
                                        {{ new_form.ds_name.errors[0] }}
                                </div>

                                <div class="form-group{% if new_form.description.errors %} has-error {% endif %}">
                                    <div class="control-label" id="new_dataset_description">
                                        Dataset description:
                                    </div>
                                    <div>
                                        {{ new_form.description(id='new_description',placeholder="Type description (required)...", styl="width: 100%", class="form-control") }}
                                    </div>
                                    <p class="help-block">
                                        {{ new_form.description.errors[0] }}
                                </div>

                                <p style="color: #FF8E29">In order for your data to be usable on this platform, uploaded files <b>MUST</b> adopt a specific format. An exemplary template can be downloaded <a href="/return-template/" download="template.csv"><b>here</b></a>.</p>

                                <div class="form-group {% if new_form.fileName.errors %} has-error {% endif %}">
                                    <div class="control-label" id="new_filename_label">
                                        Upload file:
                                    </div>
                                    <div>
                                        {{ new_form.fileName(id='new_fileName',style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ new_form.fileName.errors[0] }}
                                </div>

                                <button class="btn btn-success" id="newButton" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="editFormCardHead">Update an Existing Dataset
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#editFormCard" aria-expanded="true"
                                   aria-controls="editFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" id="editFormCard" aria-expanded="true">
                            <form action="{{ url_for('my_datasets') }}" enctype=multipart/form-data id="editForm" class="form-horizontal" method="POST">
                                {{ edit_form.csrf_token }}
                                {{ edit_form.hidden_tag() }}
                                {{ edit_form.file }}

                                <div class="form-group {% if edit_form.ds_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="edit_dataset_label">
                                        Dataset name:
                                    </div>
                                    <div>
                                        {{ edit_form.ds_id(id='edit_ds_id',class="js-example-basic-single", style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ edit_form.ds_id.errors[0] }}
                                </div>
                                <p style="color: #FF8E29">In order for your data to be usable on this platform, uploaded files <b>MUST</b> adopt a specific format. An exemplary template can be downloaded <a href="/return-template/" download="template.csv"><b>here</b></a>.</p>
                                <div class="form-group {% if edit_form.fileName.errors %} has-error {% endif %}">
                                    <div class="control-label" id="edit_filename_label">
                                        Upload file:
                                    </div>
                                    <div>
                                        {{ edit_form.fileName(id='edit_fileName',style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ edit_form.fileName.errors[0] }}
                                </div>

                                <button class="btn btn-success" id="editButton" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="deleteFormCardHead">Delete an Existing Dataset
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#deleteFormCard" aria-expanded="true"
                                   aria-controls="deleteFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" id="deleteFormCard" aria-expanded="true">
                            <form action="{{ url_for('my_datasets') }}" enctype=multipart/form-data id="deleteForm" class="form-horizontal" method="POST">
                                {{ delete_form.csrf_token }}
                                {{ delete_form.hidden_tag() }}
                                {{ delete_form.file }}

                                <div class="form-group {% if delete_form.ds_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="delete_dataset_label">
                                        Dataset name:
                                    </div>
                                    <div>
                                        {{ delete_form.ds_id(id='delete_ds_id',class="js-example-basic-single", style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ delete_form.ds_id.errors[0] }}
                                </div>

                                <button class="btn btn-success" id="deleteButton" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}
            </div>
        </div>
    </div>
</div>