<script type="text/javascript">

    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

        $('#muniButton').click(function(){$('input[id=submitted]').val('1');});

        $('#top_tier').on('change', function () {

            var top_tier = $('#top_tier').find("option:selected").val();

            $.getJSON('/_parse_muni', {

                    top_tier: top_tier

                },
                function (data) {
                    var lower_tier = data.lower_tier;

                    $("#lower_tier").empty();

                    var options = $("#lower_tier");
                    options.empty();
                    lower_tier.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });

        });

        {% if current_user.tours == True %}

            var tour = new Shepherd.Tour({
                defaults: {
                    classes: 'shepherd-theme-dark',
                    scrollTo: true
                }
            });

            tour.addStep('welcome', {
                title: 'Welcome to the Demographics Explorer!',
                text: 'This short tour will guide you through the necessary steps to explore the demographic modelling data contained in this almanac. You can exit the tour at any stage by clicking on the "Exit" button.',
                attachTo: '#formCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('form', {
                title: 'The Selection Form',
                text: 'This form is here to help you find the region you are interested in exploring. The selection fields will allow you to find the city, ward and year that you would like to explore. ',
                attachTo: '#formCard right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('city', {
                title: 'City Selector',
                text: 'This field allows you to select the the city you would like to look at.',
                attachTo: '#city_label right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('ward', {
                title: 'Ward Selector',
                text: 'This field allows you to select the ward that you would like to look at. Initially, and when "View All" is selected, the aggregated ward data will be shown. Selecting a particular ward and clicking "Submit" will zoom to that Ward and will show the small enumerator areas along with their data values.',
                attachTo: '#ward_label right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('year', {
                title: 'Year Selector',
                text: 'This field allows you to choose which year\'s data values you would like to explore.',
                attachTo: '#year_label right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('submit', {
                title: 'Submit Button',
                text: 'Once you have made your selections, click "Submit" to view the data!',
                attachTo: '#submitButton right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('plot', {
                title: 'Map Area',
                text: 'This map shows projected migration values at the ward and small enumerator area levels for each metro. Clicking on an area will zoom to it, though clicking on a ward will NOT reveal its underlying enumerators.',
                attachTo: '#geoCard left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.start();

        {% endif %}
    });

</script>

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-5 col-lg-5 col-lg-5">

                    <div class="card" id="selectorCard">
                        <div class="card-header" id="formCardHead">Municipal Money Selector
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#formCard" aria-expanded="true"
                                   aria-controls="formCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse in " id="formCard" aria-expanded="true">
                            <form action="{{ url_for('muni_constructor') }}" id="Form" class="form-horizontal" method="POST">
                                {{ form.csrf_token }}
                                {{ form.hidden_tag() }}

                                <div class="form-group {% if form.region.errors %} has-error {% endif %}">
                                    <div class="control-label" id="dataset_label">
                                        Region:
                                    </div>
                                    <div>
                                        {{ form.region(id='region',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form.region.errors[0] }}
                                </div>

                                <div class="form-group {% if form.top_tier.errors %} has-error {% endif %}">
                                    <div class="control-label" id="region_label">
                                        Cube:
                                    </div>
                                    <div>
                                        {{ form.top_tier(id='top_tier',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form.top_tier.errors[0] }}
                                </div>

                                <div class="form-group {% if form.lower_tier.errors %} has-error {% endif %}">
                                    <div class="control-label" id="type_label">
                                        Category:
                                    </div>
                                    <div>
                                        {{ form.lower_tier(id='lower_tier',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form.lower_tier.errors[0] }}
                                </div>

                                <div class="form-group {% if form.year.errors %} has-error {% endif %}">
                                    <div class="control-label" id="type_label">
                                        Year:
                                    </div>
                                    <div>
                                        {{ form.year(id='year',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form.year.errors[0] }}
                                </div>

                                <div class="form-group {% if form.data_type.errors %} has-error {% endif %}">
                                    <div class="control-label" id="type_label">
                                        Data Type:
                                    </div>
                                    <div>
                                        {{ form.data_type(id='data_type',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form.data_type.errors[0] }}
                                </div>

                                <button class="btn btn-success" id="muniButton" type="submit">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% if plot %}

                    {% include 'snippets/charts_constructor.html' %}

                    <div id="dashboard">
                        <div class="row">
                            <div class="col-sm-2 col-lg-2 col-lg-2">
                                <div class="card" id="selectCard">
                                    <div class="card-header">Select Your Data</div>
                                    <div class="card-block">
                                        <div id="categorySelector2"></div>
                                        <div id="categorySelector1"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">Selected Data</div>
                                    <div class="card-block">
                                        <div id="table"
                                             style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                                        <div id="table2"
                                             style="display: none; margin: 0 auto; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-5 col-lg-5 col-lg-5">
                            <div class="card" id="mapSelect">
                                <div class="card-header">Download data</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Export" href="data.csv" target="_blank" download="data.csv">
                                            <button class="btn btn-primary" style="margin-right: 10px">Download table
                                                data
                                                as a CSV file
                                            </button>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

        </div>
    </div>
</div>