<div class="sidebar">

        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_user') }}"><i class="icon-speedometer"></i>Dashboard</a>
                </li>

                <li class="nav-title">
                    Options
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-star"></i>New Analysis</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-pie-chart"></i>My Analyses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-table fa-lg m-t-2"></i>My Datasets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-group fa-lg m-t-2"></i>Demographics</a>
                </li>

                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-book fa-lg m-t-2"></i>Documentation</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Section 7</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-title">
                    Links
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-tasks fa-lg m-t-2 "></i>SCODA Repository</a>
                </li>

            </ul>
        </nav>
    </div>