<div class="sidebar" id="sideNav">
        <nav class="sidebar-nav">
            <ul class="nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="sideDashboard" href="{{ url_for('city_dashboard') }}"><i class="icon-speedometer"></i>My Dashboard</a>
                </li>
                {%  endif %}

                <li class="nav-title">
                    Options
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explore') }}"><i class="fa fa-rocket fa-lg m-t-2"></i>Data Explorer</a>
                </li>

            {% if current_user.is_authenticated %}

                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('constructor_new') }}"><i class="fa fa-star fa-lg m-t-2"></i>New Analysis</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('my_datasets') }}"><i class="fa fa-table fa-lg m-t-2"></i>My Datasets</a>
                </li>
            {%  endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('demographics') }}"><i class="fa fa-group fa-lg m-t-2"></i>Demographics</a>
                </li>

            </ul>
        </nav>
    </div>