<script type="text/javascript">

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function () {

        $('.js-example-basic-single').select2();

        $('.js-example-basic-multiple').select2();

    });

</script>

{% include 'snippets/image_export.html' %}

{% include 'snippets/charts_line_constructor.html' %}

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">

            <div class="row">

                <div class="col-sm-3 col-lg-3 col-lg-3">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="seriesFormCardHead">Indicator Selector</div>
                        <div class="card-block" id="seriesFormCard">
                            <form action="/constructor/{{ analysis_id }}/time-series" id="pivotForm"
                                  class="form-horizontal" method="POST">
                                {{ form.csrf_token }}
                                {{ form.hidden_tag() }}
                                <div class="form-group {% if form.ds_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="pivot_dataset_label">
                                        Data Set:
                                    </div>
                                    <div>
                                        {{ form.ds_id(id='pivot_dataset_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ form.ds_id.errors[0] }}
                                </div>

                                <row>



                                </row>


                                <div style="text-align: center">
                                    <div class="row">
                                        <button class="btn btn-success" id="pivotButton" type="submit" style="width: 80%">Generate time-series</button>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <a href="/constructor/{{ analysis_id }}">
                                        <button class="btn btn-primary" type="button"  style="width: 80%">Back to Analysis</button>
                                    </a>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>


                <div class="col-sm-9 col-lg-9 col-lg-9">
                    <div class="card">
                        <div class="card-header">Selected Data</div>
                        <div class="card-block">
                            <div id="table" style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-lg-12">
                    <div class="card" id="selectCard">
                        <div class="card-header">Visualization</div>
                        <div class="card-block">
                            <div id="chart1"></div>
                            <div id="chart_img" class="hidden"
                                     style="display: none; margin: 0 auto; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6 col-lg-2">
                    <div class="card" id="mapSelect">
                        <div class="card-header">Download data</div>
                        <div class="card-block" style="text-align: center">
                            <div class="row">
                                <a id="Export2"
                                   href="/constructor/{{ analysis_id }}/time-series/{{ series_id }}/download">
                                    <button class="btn btn-warning">Download as CSV</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6 col-lg-2">
                    <div class="card" id="mapSelect">
                        <div class="card-header">Download Plot</div>
                        <div class="card-block" style="text-align: center">
                            <a download="chart.png" id="image_download"
                               onclick="saveAsImg(document.getElementById('chart_img'));">
                                <button class="btn btn-primary" style="margin-left: 10px">Save Chart As
                                    PNG
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>