<link rel="stylesheet" href="../../static/vendor/shepherd/css/shepherd-theme-dark.css"/>

<script type="text/javascript">

    $(document).ready(function () {

        $('.js-example-basic-single').select2(
        );

        $('#wazi_region').select2(
            {placeholder: 'Select values...'}
        );

        $('#muni_year').select2(
            {placeholder: 'Select values...'}
        );

        $('#muni_region').select2(
            {placeholder: 'Select values...'}
        );

        $('#exploreButton').click(function(){$('input[id=explore_submitted]').val('1');});

        $('#exploreForm').on('change', function () {

            var dataset_input = $('#explore_dataset_id').find("option:selected").val();
            var indicator_input = $('#explore_indicator_id').find("option:selected").val();
            var region_input = $('#explore_region_id').find("option:selected").val();
            var type_input = $("#explore_type_id").find("option:selected").val();
            var theme_input = $("#explore_theme_id").find("option:selected").val();
            var year_input = $("#explore_year").find("option:selected").text();

            $.getJSON('/_parse_data', {

                    dataset_id: dataset_input,
                    indicator_id: indicator_input,
                    region_id: region_input,
                    type_id: type_input,
                    theme_id: theme_input,
                    year: year_input

                },
                function (data) {
                    var datasets = data.dataset;
                    var indicators = data.indicator;
                    var regions = data.region;
                    var types = data.type;
                    var themes = data.theme;
                    var years = data.year;
                    var ind_ready = data.ind_ready;

                    if (ind_ready) {
                        document.getElementById("exploreButton").disabled = false;
                        document.getElementById("exploreButton").innerText = "Explore This Indicator!";
                    }
                    $("#explore_dataset_id").empty();
                    $("#explore_indicator_id").empty();
                    $("#explore_region_id").empty();
                    $("#explore_type_id").empty();
                    $("#explore_theme_id").empty();
                    $("#explore_year").empty();

                    var options = $("#explore_dataset_id");
                    options.empty()
                    datasets.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    var options = $("#explore_indicator_id");
                    options.empty()
                    indicators.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#explore_region_id");
                    options.empty()
                    regions.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#explore_type_id");
                    options.empty()
                    types.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#explore_theme_id");
                    options.empty()
                    themes.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                    options = $("#explore_year");
                    options.empty();
                    years.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });
                });
        });

        {% if current_user.tours == True %}

            var tour = new Shepherd.Tour({
                defaults: {
                    classes: 'shepherd-theme-dark',
                    scrollTo: false
                }
            });

            tour.addStep('welcome', {
                title: 'Welcome to the Analysis Constructor!',
                text: 'On this page you will be able to construct your own dataset from all 102 SCODA indicators, the 2011 National Census, National Treasury data, and your own uploaded datasets. Once generated, your dataset can be downloaded and/or visualized; and will be stored on this platform until such time as you choose to delete it.',
                attachTo: '#breadCrumb bottom',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('welcome2', {
                title: 'Welcome to the Analysis Constructor!',
                text: 'All forms are currently closed, however, they can each be opened / closed by clicking on the arrow in the right corner of each card.',
                attachTo: '#breadCrumb bottom',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('explore', {
                title: 'Indicator Selection Form',
                text: 'This form behaves identically to the one used in the Data Explorer. Selecting entries in the form fields will allow you to narrow down the indicator options. Once an indicator has been selected you will be able to click on the green button (text will change to "Explore This Indicator") and the indicator data will be selected.',
                attachTo: '#exploreFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('explore2', {
                title: 'Indicator Selection Form',
                text: 'This form behaves identically to the one used in the Data Explorer. Selecting entries in the form fields will allow you to narrow down the indicator options. Once an indicator has been selected you will be able to click on the green button (text will change to "Explore This Indicator") and the indicator data will be selected.',
                attachTo: '#exploreFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('explore3', {
                title: 'Indicator Selection Form',
                text: 'WARNING: While it is possible to construct analyses using Provincial data from the SCODA indicator datasets, all other data selectors on this page are for City data only. Combining Provincial and City data is not possible on this platform, however, you can download the necessary datasets in CSV format and then combine them yourself.',
                attachTo: '#exploreFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('wazi', {
                title: 'Census Data Selector',
                text: 'This form allows you to select data from the 2011 National Census by means of the <a href="https://wazimap.co.za" target="_blank">Wazimap</a> site that was built by <a href="http://code4sa.org/" target="_blank">Code4SA<a> for <a href="http://www.mediamonitoringafrica.org/" target="_blank">MMA<a>. You can select multiple cities and then choose which categories / sub-categories you would like to choose from. Once you have made your selection, clicking submit will retrieve the data.',
                attachTo: '#waziFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('wazi2', {
                title: 'Census Data Selector',
                text: 'WARNING: This data is only available for 2011 and its addition to a dataset will reduce that set to 2011 values only!',
                attachTo: '#waziFormCardHead right',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('muni', {
                title: 'Municipal Money Data Selector',
                text: 'This form allows you to select data from National Treasury\'s Municipal Money <a href="https://municipalmoney.gov.za/" target="_blank">API</a>. You can select multiple cities as well as multiple years, and then choose which cube, category and data type you would like. Once you have made your selection, clicking submit will retrieve the data.',
                attachTo: '#muniFormCardHead left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('muni2', {
                title: 'Municipal Money Data Selector',
                text: 'WARNING: These selectors have been chosen to correspond to the nomenclature on the API and we STRONGLY recommend that you familiarize yourself with the data structures and types extensively documented on the Municipal Money <a href="https://municipalmoney.gov.za/" target="_blank">site</a>.',
                attachTo: '#muniFormCardHead left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('my', {
                title: 'My Datasets Data Selector',
                text: 'This form allows you to select data from one of the datasets you have uploaded to your My Datasets <a href="{{ url_for('my_datasets') }}" target="_blank">page</a>.',
                attachTo: '#myFormCardHead left',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('current', {
                title: 'Your Selected Data',
                text: 'Once you have selected data by submitting one of the selector forms, a new table (named Selected Data) will open showing the data that you have selected and you can modify the selection further with a control panel (named Select Your Data) that will open above it.',
                attachTo: '#currentCardHead top',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('current2', {
                title: 'Your Current Analysis',
                text: 'This table contains your current analysis dataset. If this is a new analysis you will only see two columns, namely, "City" and "Year". As you add to your analysis new data columns will be added.',
                attachTo: '#currentCardHead top',
                advanceOn: '.docs-link click',
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('submit', {
                title: 'Adding To Your Analysis',
                text: 'Once your data in the Selected Data table is the way you want it, clicking on the "Add To My Analysis" button will merge this data with that shown in the "Your Current Analysis Data Set". You will also receive one of the three responses once this action ahs been performed, (1) that your addition was successful, (2) that your years / cities selected to do not much exactly to those in your analysis and the number of rows may have changed, (3) that none of the rows match and the merge cannot be performed.',
                attachTo: '#modifyCardHead top',
                advanceOn: '.docs-link click',
                scrollTo: true,
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('undo', {
                title: 'Undo Recent Changes',
                text: 'If you would like to undo your most recent addition, simply click on the "Go Back" button and your dataset will be returned to the previous step. WARNING: Only one previous step is saved!',
                attachTo: '#undoCardHead top',
                advanceOn: '.docs-link click',
                scrollTo: true,
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('download', {
                title: 'Download Your Analysis',
                text: 'Clicking on the "Download as CSV" button will allow you to save your analysis to your computer. The CSV format can be opened in many different pieces of software, e.g. Excel, SPSS, etc.',
                attachTo: '#downloadCardHead top',
                advanceOn: '.docs-link click',
                scrollTo: true,
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('visualize', {
                title: 'Plot Your Analysis',
                text: 'Clicking on the "Plot" button will take you to a page where your analysis can be visualized and the resulting plot downloaded. You will be also be given the option to adjust which cities / years are shown and can download the data behind the individual plots',
                attachTo: '#visualizeCardHead top',
                advanceOn: '.docs-link click',
                scrollTo: true,
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('time', {
                title: 'Generate A Time Series',
                text: 'If you would rather download your per-city data with year-values in each column, clicking on the "Time Series" button will take you to a page where you can select one of your data columns and convert it to a series for download.',
                attachTo: '#timeCardHead top',
                advanceOn: '.docs-link click',
                scrollTo: true,
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.addStep('delete', {
                title: 'Delete This Analysis',
                text: 'If you no longer want this analysis, simply hit the "Delete" button and it\'s gone!',
                attachTo: '#deleteCardHead top',
                advanceOn: '.docs-link click',
                scrollTo: true,
                buttons: [
                    {
                        text: 'Back',
                        action: tour.back
                    },
                    {
                        text: 'Exit',
                        action: tour.complete
                    },
                    {
                        text: 'Next',
                        action: tour.next
                    }
                ]
            });

            tour.start();

        {% endif %}

    });

    $(document).ready(function () {

        $('#waziButton').click(function(){$('input[id=wazi_submitted]').val('1');});

        $('#wazi_top_tier').on('change', function () {

            var top_tier = $('#wazi_top_tier').find("option:selected").val();

            $.getJSON('/_parse_wazi', {

                    top_tier: top_tier

                },
                function (data) {
                    var lower_tier = data.lower_tier;

                    $("#wazi_lower_tier").empty();

                    var options = $("#wazi_lower_tier");
                    options.empty();
                    lower_tier.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });

        });
    });

    $(document).ready(function () {

        $('#muniButton').click(function(){$('input[id=muni_submitted]').val('1');});

        $('#muni_top_tier').on('change', function () {

            var top_tier = $('#muni_top_tier').find("option:selected").val();

            $.getJSON('/_parse_muni', {

                    top_tier: top_tier

                },
                function (data) {
                    var lower_tier = data.lower_tier;

                    $("#muni_lower_tier").empty();

                    var options = $("#muni_lower_tier");
                    options.empty();
                    lower_tier.forEach(function (item) {
                        options.append($('<option>', {value: item[0], text: item[1]}));
                    });

                });

        });

    });

    $(document).ready(function () {

        $('#myButton').click(function(){$('input[id=my_submitted]').val('1');});

    });

</script>

<div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% if warning != 3 %}
                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                            {% if messages %}
                                <div class="alert {% if warning == 0 %}alert-success{% elif warning == 2 %}alert-warning{% elif warning == 1 %}alert-danger{% endif %}">
                                    {% for message in messages %}
                                       {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="exploreFormCardHead">Indicators
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#exploreFormCard" aria-expanded="true"
                                   aria-controls="exploreFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse {% if explore_form_open %} in {% endif %}" id="exploreFormCard">
                            <form action="/constructor/{{ analysis_id }}" id="exploreForm" class="form-horizontal" method="POST">
                                {{ explore_form.csrf_token }}
                                {{ explore_form.hidden_tag() }}

                                <div class="form-group {% if explore_form.indicator_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="explore_indicator_label">
                                        Indicator:
                                    </div>
                                    <div>
                                        {{ explore_form.indicator_id(id='explore_indicator_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ explore_form.indicator_id.errors[0] }}
                                </div>

                                <div class="form-group {% if explore_form.dataset_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="explore_dataset_label">
                                        Data Set:
                                    </div>
                                    <div>
                                        {{ explore_form.dataset_id(id='explore_dataset_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ explore_form.dataset_id.errors[0] }}
                                </div>

                                <div class="form-group {% if explore_form.region_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="explore_region_label">
                                        Region:
                                    </div>
                                    <div>
                                        {{ explore_form.region_id(id='explore_region_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ explore_form.region_id.errors[0] }}
                                </div>

                                <div class="form-group {% if explore_form.type_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="explore_type_label">
                                        Region Type:
                                    </div>
                                    <div>
                                        {{ explore_form.type_id(id='explore_type_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ explore_form.type_id.errors[0] }}
                                </div>

                                <div class="form-group {% if explore_form.theme_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="explore_theme_label">
                                        Theme:
                                    </div>
                                    <div>
                                        {{ explore_form.theme_id(id='explore_theme_id',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ explore_form.theme_id.errors[0] }}
                                </div>

                                <div class="form-group {% if explore_form.year.errors %} has-error {% endif %}">
                                    <div class="control-label" id="explore_year_label">
                                        Year:
                                    </div>
                                    <div>
                                        {{ explore_form.year(id='explore_year',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ explore_form.year.errors[0] }}
                                </div>
                                <p><a href="/return-scoda/" download="SACN_Indicators_Metadata.xlsx">Download Metadata</a></p>
                                <div  style="text-align: center">
                                    <div class="row">
                                    <button class="btn btn-success btn-responsive" id="exploreButton" type="submit" disabled style="width:80%">Select
                                        indicator...
                                    </button>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <a href="/constructor/{{ analysis_id }}">
                                        <button class="btn btn-primary btn-responsive" id="clearForm" type="button" style="width:80%">Reset Form</button>
                                    </a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="waziFormCardHead"><a href="https://wazimap.co.za" target="_blank">Wazimap</a>
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#waziFormCard" aria-expanded="true"
                                   aria-controls="waziFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse {% if wazi_form_open %} in {% endif %}" id="waziFormCard" aria-expanded="true">
                            <form action="/constructor/{{ analysis_id }}" id=waziForm" class="form-horizontal" method="POST">
                                {{ wazi_form.csrf_token }}
                                {{ wazi_form.hidden_tag() }}

                                <div class="form-group {% if wazi_form.region.errors %} has-error {% endif %}">
                                    <div class="control-label" id="dataset_label">
                                        Region:
                                    </div>
                                    <div>
                                        {{ wazi_form.region(id='wazi_region',placeholder='Select metros for analysis...',class="js-example-basic-multiple js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ wazi_form.region.errors[0] }}
                                </div>

                                <div class="form-group {% if wazi_form.top_tier.errors %} has-error {% endif %}">
                                    <div class="control-label" id="wazi_region_label">
                                        Category:
                                    </div>
                                    <div>
                                        {{ wazi_form.top_tier(id='wazi_top_tier',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ wazi_form.top_tier.errors[0] }}
                                </div>

                                <div class="form-group {% if wazi_form.lower_tier.errors %} has-error {% endif %}">
                                    <div class="control-label" id="wazi_type_label">
                                        Sub-Category:
                                    </div>
                                    <div>
                                        {{ wazi_form.lower_tier(id='wazi_lower_tier',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ wazi_form.lower_tier.errors[0] }}
                                </div>
                                <p><a href="/return-wazi/" download="Census2011-Metadata.pdf">Download Metadata</a></p>
                                <button class="btn btn-success" id="waziButton" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">

                    <div class="card" id="selectorCard">
                        <div class="card-header" id="muniFormCardHead"><a href="https://municipalmoney.gov.za/" target="_blank">Municipal Money</a>
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#muniFormCard" aria-expanded="true"
                                   aria-controls="muniFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse {% if muni_form_open %} in {% endif %}" id="muniFormCard" aria-expanded="true">
                            <form action="/constructor/{{ analysis_id }}" id="muniForm" class="form-horizontal" method="POST">
                                {{ muni_form.csrf_token }}
                                {{ muni_form.hidden_tag() }}

                                <div class="form-group {% if muni_form.region.errors %} has-error {% endif %}">
                                    <div class="control-label" id="muni_dataset_label">
                                        Region:
                                    </div>
                                    <div>
                                        {{ muni_form.region(id='muni_region',placeholder='Select regions for analysis...',class="js-example-basic-multiple js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ muni_form.region.errors[0] }}
                                </div>

                                <div class="form-group {% if muni_form.top_tier.errors %} has-error {% endif %}">
                                    <div class="control-label" id="muni_region_label">
                                        Cube:
                                    </div>
                                    <div>
                                        {{ muni_form.top_tier(id='muni_top_tier',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ muni_form.top_tier.errors[0] }}
                                </div>

                                <div class="form-group {% if muni_form.lower_tier.errors %} has-error {% endif %}">
                                    <div class="control-label" id="muni_type_label">
                                        Category:
                                    </div>
                                    <div>
                                        {{ muni_form.lower_tier(id='muni_lower_tier',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ muni_form.lower_tier.errors[0] }}
                                </div>

                                <div class="form-group {% if muni_form.year.errors %} has-error {% endif %}">
                                    <div class="control-label" id="muni_type_label">
                                        Year:
                                    </div>
                                    <div>
                                        {{ muni_form.year(id='muni_year',placeholder='Select years for analysis...',class="js-example-basic-multiple js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ muni_form.year.errors[0] }}
                                </div>

                                <div class="form-group {% if muni_form.data_type.errors %} has-error {% endif %}">
                                    <div class="control-label" id="muni_type_label">
                                        Data Type:
                                    </div>
                                    <div>
                                        {{ muni_form.data_type(id='muni_data_type',class="js-example-basic-single js-example-responsive",style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ muni_form.data_type.errors[0] }}
                                </div>
                                <p><a href="/return-muni/" download="MuniMoney-TermsofUse.pdf">Download Metadata</a></p>
                                <button class="btn btn-success" id="muniButton" type="submit">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card" id="selectorCard">
                        <div class="card-header" id="myFormCardHead">My Datasets
                            <div class="card-actions">
                                <a class="btn-minimize" data-toggle="collapse" href="#myFormCard" aria-expanded="true"
                                   aria-controls="myFormCard"><i class="icon-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse {% if my_form_open %} in {% endif %}" id="myFormCard" aria-expanded="true">
                            <form action="/constructor/{{ analysis_id }}" enctype=multipart/form-data id="myForm" class="form-horizontal" method="POST">
                                {{ my_form.csrf_token }}
                                {{ my_form.hidden_tag() }}

                                <div class="form-group {% if my_form.ds_id.errors %} has-error {% endif %}">
                                    <div class="control-label" id="my_dataset_label">
                                        Dataset name:
                                    </div>
                                    <div>
                                        {{ my_form.ds_id(id='my_ds_id',class="js-example-basic-single", style="width: 100%") }}
                                    </div>
                                    <p class="help-block">
                                        {{ my_form.ds_id.errors[0] }}
                                </div>

                                <button class="btn btn-success" id="myButton" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        {% if plot %}

            {% include 'snippets/charts_constructor_full.html' %}

                    <div id="dashboard">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" id="selectCard">
                                    <div class="card-header">Select Your Data</div>
                                    <div class="card-block">
                                        <div id="categorySelector2"></div>
                                        <div id="categorySelector1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">Selected Data</div>
                                    <div class="card-block">
                                        <div id="table"
                                             style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                                        <div id="table2"
                                             style="display: none; margin: 0 auto; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" id="selectCard">
                                    <div class="card-header" id="currentCardHead">Your Current Analysis Data Set</div>
                                    <div class="card-block">
                                        <div id="table_master"
                                             style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                    </div>


        {% else %}

            {% include 'snippets/charts_constructor_half.html' %}

                    <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card" id="selectCard">
                                    <div class="card-header" id="currentCardHead">Your Current Analysis Data Set</div>
                                    <div class="card-block">
                                        <div id="table_master"
                                             style="display: inline-block; margin: 0 auto; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                    </div>

        {% endif %}

                    <div class="row" style="text-align: center">

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-2">
                            <div class="card" id="mapSelect">
                                <div class="card-header" id="modifyCardHead">Modify Analysis</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Save">
                                            <button class="btn btn-success" style="margin-right: 10px; width: 75%;">Add To My Analysis
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-2">
                            <div class="card" id="mapSelect">
                                <div class="card-header" id="undoCardHead">Undo recent add</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Undo" href="/constructor/{{ analysis_id }}/revert"><button class="btn btn-primary" style="width: 75%">Go Back</button></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-2">
                            <div class="card" id="mapSelect">
                                <div class="card-header" id="downloadCardHead">Download data</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Export2" href="/constructor/{{ analysis_id }}/download"><button class="btn btn-primary" style="width: 75%">Download as CSV</button></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-2">
                            <div class="card" id="mapSelect">
                                <div class="card-header" id="visualizeCardHead">Visualize</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Visualize" href="/constructor/{{ analysis_id }}/plot"><button class="btn btn-primary" style="width: 75%">Plot</button></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-2">
                            <div class="card" id="mapSelect">
                                <div class="card-header" id="timeCardHead">Convert to Time Series</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Timeseries" href="/constructor/{{ analysis_id }}/time-series"><button class="btn btn-primary" style="width: 75%">Time Series</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-2">
                            <div class="card" id="mapSelect">
                                <div class="card-header" id="deleteCardHead">Delete This Dataset</div>
                                <div class="card-block" style="text-align: center">
                                    <div class="row">
                                        <a id="Timeseries" href="/constructor/{{ analysis_id }}/delete"><button class="btn btn-danger" style="width: 75%">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

        </div>
    </div>
</div>